.has-error {
  display: block;
  min-height: 17px;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  margin: -34px 0 17px 0;
  color: #C52103;
}

@media (max-width: 767px) {
  .has-error {
    margin: 0;
    top: -18px;
  }
}

.row-form .radio {
  margin-bottom: 20px;
}

.row-form textarea, .row-form input, .row-form .uneditable-input, .row-form .selectize-control {
  margin: 0 0 35px 0;
}

.row-form textarea.incident-description {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .row-form {
    margin-bottom: 0;
  }
  .row-form input, .row-form .selectize-control {
    margin-bottom: 20px;
  }
  .row-form .radio label {
    margin-top: 0px;
  }
}

.row-form.last {
  margin-bottom: 0;
}

.checkbox-row {
  margin-bottom: 25px;
}

.checkbox-well {
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
  margin-top: 20px;
  clear: both;
  border-radius: 4px;
}

.well {
  display: block;
  height: auto;
  border: 1px solid #eee;
  box-shadow: none;
}

.well.primary {
  background-color: #f7f7f7;
}

.well.secondary {
  background-color: #FFF;
}

.well.replacement {
  padding: 25px;
}

.confirm-account-well {
  padding: 30px 20px 35px 20px;
}
