.checkbox-lg-label, 
.checkbox-sm-label, 
.cheekybox-lg-label, 
.cheekybox-sm-label {
  float: left;
}

.checkbox-lg-label, .cheekybox-lg-label {
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 0;
}

.checkbox-sm-label, .cheekybox-sm-label {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0;
}

.checkbox, .cheekybox {
  font-family: 'Asurion';
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  float: left;
  cursor: pointer;
}

.checkbox.icon-checkmark, .cheekybox.icon-checkmark {
  text-align: center;
  color: #339966;
}

.checkbox-lg, .cheekybox-lg {
  width: 38px;
  height: 38px;
  line-height: 40px;
  vertical-align: text-bottom;
  font-size: 24px;
  margin-top: 1px;
  margin-right: 24px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

.checkbox-sm, .cheekybox-sm {
  width: 18px;
  height: 18px;
  line-height: 17px;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom:5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}

// Buttons 

.btn, .btn-ghost {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  @include transition(background-color .3s linear);
  @include appearance(none);
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
.btn{
  border: 0;
}
.btn-ghost {
  border:solid 2px $grey;
  color:$grey;
}

.btn-ghost.btn-primary{
  background:transparent;
  border:solid 2px $btn-primary;
  color:$btn-primary;
}

.btn-primary {
  background: $btn-primary;
  // @include box-shadow(inset 0px -3px 0 0 rgba(0, 0, 0, 0.2));
  // @include text-shadow(0px 1px 0px rgba(0, 0, 0, 0.2));
  @include border-radius(6px);
  padding: 10px 30px;
  color: #fff;
  &:hover, &:focus {
    background: $btn-primary-hover;
    color: #fff;
  }
  &:active {
    position: relative;
    top: 1px;
    @include box-shadow(inset 0 -2px 0 rgba(0,0,0,0.2)); 
  }
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  background-color: transparent;
  color: #666;
  box-shadow: none;
  text-shadow: none;
}

.btn-tertiary {
  @extend .btn-primary;
  background: #888;
  &:hover {
    background: #777;
  }
}

.btn-large {
  padding: 16px 0;
  font-size: 17px;
}

.btn-small {
  font-size: 14px;
  padding: 7px 10px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.btn-exit {
  color: #999;
  font-size: 15px;
  margin: 0 0 20px 0;
  @include transition(color .2s ease);
  &:hover {
    color: #666;
    @include transition(color .2s ease);
  }
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
  color: rgba(255,255,255,0.6);
  background-color: #a1a4a7;
  text-shadow: none;
  cursor: default;
}

.btn-continue {
  width: 300px;
  margin: 60px auto 40px auto;
  @include breakpoint(medium) {
    width: 100%;
    max-width: 75%;
    margin: 40px auto 30px auto;
  }
  @include breakpoint(smallest) {
    max-width: 100%;
  }
}

/* Buttons with icons */

.btn.has-icon {
  position: relative;
  font-size: 14px;
  padding: 10px 10px 10px 45px;
}

.btn i {
  width: 35px;
  height: 38px;
  padding-top: 10px;
  background: rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 20px;
  @include border-radius(6px 0 0 6px);
  &.icon-refresh {
    padding-top: 6px;
    font-size: 25px;
  }
}

.btn-large i {
  background: rgba(0,0,0,0.2);
  width: 40px;
  height: 60px;
  margin: -11px 10px -10px -10px;
  line-height: 60px;
  @include border-radius(6px 0 0 6px);
}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
  margin-top:0;
}
