.shipment-contents {
  margin: 40px 0 20px 0;
  font-size: 14px;
  font-family: $neue-regular;
}

.or {
  font-family: $neue-medium-condensed;
  position: absolute;
  left: 48.5%;
  @include breakpoint(medium) {
    position: relative;
    display: block;
    left: 0;
  }
}

.row-height-offset {
  padding-top: 30px;
  &.no-label {
    padding-top: 15px;
  }
  @include breakpoint(small) {
    padding-top: 10px;
  }
}

.current-banner {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  background: #ddd;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
  font-size: 13px;
}

.current-flag {
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  i {
    color: #ddd;
    line-height: 8px;
  }
}

.replacement-device {
  margin-top: 28px;
  @include breakpoint(small) {
    margin-top: 0;
  }
}

.device-container {
  @include breakpoint(small) {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0px;
    }
  }
}

.device-nlp {
  .device-option {
    background: #f4f4f4;
    padding-bottom: 69px;
    img {
      opacity: .4;
    }
    &:hover {
      background: #f4f4f4;
      cursor: not-allowed;
    }
    span, h4 {
      color: #bbb;
    }
    @include breakpoint(medium) {
      padding-bottom: 20px;
    }
  }
}

.device-option {
  position: relative;
  background: #fff;
  border: 1.25px solid #ddd;
  padding: 20px 20px 20px 20px;
  margin: 5px 0;
  width: 100%;
  -webkit-backface-visibiliy: visible;
  @include transition(all .25s ease-in);
  @include border-radius(4px);
  &:hover {
    cursor: pointer;
    background: #f4f4f4;
    border: 1px solid #ccc;
    h4.smaller {
      border-bottom: 1px solid #ccc;
    }
    a {
      background: #fefefe;
    }
  }
  span {
    display: block;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 14px;
  }
  h4.smaller {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  a {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      background: #fff;
      border: 1px solid #bbb;
    }
  }
  img {
    height: 140px;
  }
  &:after {
    position: absolute;
    opacity: 0;
    font-size: 40px;
    background: rgba(81, 188, 126, .9);
    z-index: 9999;
    font-family: 'Asurion';
    height: 100%;
    width: 100%;
    padding: 60px 0 0 0;
    content: '';
    top: 0;
    left: 0;
  }
  &.active {
    box-shadow: none;
    overflow: hidden;
    @include transition(all .25s ease-in);
    &:after {
      opacity: 1;
      font-size: 100px;
      background: rgba(81, 188, 126, .8);
      content: "\e00f";
      color: #fff;
      padding: 80px 0 0 0;
      @include transition(all .25s ease-in);
    }
  }
}

.compare-features {
  margin: 30px 0 20px 0;
}

//targeting just the dropdown wrap for device selection

.selectize-control.device-selection-dropdown {
  margin: 15px 0 0 0;
}

.selectize-control.selectize-dropdown {
  margin: 0;
}

.selectize-control.no-label {
  margin-top: 18px;
}

.affected-device .dropdown-img {
  height: 45px;
  margin: 0 11px 0 4px;
}

// Resume & track stuff

.resume-block {
  background: #f5f5f5;
  border: 1px solid #ededed;
  @include border-radius(4px);
  //margin-bottom: 40px;
  padding: 0 10px 60px 10px;
  h2 {
    margin: 10px 0 20px 0;
  }
}

.unlock-container {
  background: #f5f5f5;
  border: 1px solid #ededed;
  @include border-radius(4px);
  margin: 0 0 5px 0;
}

.unlock-header, .unlock-content {
  padding: 15px;
}

.unlock-content {
  border-top: 1px solid #ededed;
}

.unlock-instructions {
  max-width: 450px;
  margin: 0 auto 30px auto; 
}

.unlock-list {
  margin: 30px 0 10px 22%;  
}

.numbered-list {
  text-align: left;
  @include breakpoint(small) {
    margin: 0 0 0 15%;
  }
  li {
    list-style: decimal;
    padding-left: 0;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 15px;
    &:before {
      content: '';
      float: left;
      z-index: -1;
      display: inline-block;
      background: #fff;
      height: 20px;
      width: 20px;
      @include border-radius(100%);
      margin-left: -25px;
      margin-top: -3px;
    }
  }
  &.ios-unlock {
    margin: 30px 0 20px 35%;
    @include breakpoint(smallest) {
      margin-left: 15%;
    }
    li {
      &:before {
        background: #e4e4e4;
      }
    }
  }
}

// Progress sidebar

.progress {
  background: #ebebeb;
  border: 1px solid #ddd;
  @include border-radius(5px);
  z-index: 1000;
  position: relative;
  width: 37px;
  display: block;
  margin: 1px 0 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &.affix {
    position: fixed;
    top: 35px;
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
    @include breakpoint(medium) {
      top: 45px;
    }
  }
  h6 {
    font-size: 10px;
    @include transition(all .4s ease);
    color: #bbb;
    line-height: 12px;
    @include transform(rotate(-90deg));
    position: absolute;
    left: -37px;
    top: 100px;
    @include breakpoint(medium) {
      display: none;
    }
  }
  ol {
    margin: 0;
  }
  i {
    font-size: 17px;
  }
  li {
    background: #fff;
    text-align: center;
    list-style: none;
    width: 27px;
    height: 27px;
    border-radius: 100% 100% 100% 100%;
    margin: 7px auto;
    padding-top: 5px;
    @include box-shadow(0px 1px 0px rgba(0, 0, 0, .05));
    @include transition(background .2s ease);
    &:hover {
      background: #fcfcfc;
      @include transition(background .2s ease);
      @include box-shadow(none);
      cursor: pointer;
    }
  }
  @include breakpoint(medium) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 46px;
    margin: 0;
    background: none;
    border: none;
    ol {
      text-align: center;
    }
    li {
      display: inline-block;
      border: 1px solid #ddd;
      @include box-shadow(none);
    }
    &.affix {
      position: absolute;
    }
  }
}

.lt-ie9 {
  .progress h6 {
    left: -14px;
    top: 70px;
    writing-mode: tb-rl;
  }
  .banner-alert {
    top: -62px;    
    &.active {
      top: 0;
    }
  }
}

.sidebar-chat {
  opacity: 0;
  position: absolute;
  bottom: -48px;
  left: -2px;
  background: #fff;
  border: 1px solid #eaeaea;
  text-align: center;
  height: 37px;
  width: 37px;
  @include transition(all .2s ease);
  @include border-radius(6px);
  text-align: left;
  z-index: 9999;
  &:hover {
    background: #fcfcfc;
  }
  .icon-chat {
    font-size: 17px;
    color: #FFDF01;
    display: block;
    margin: 0;
    padding: 9px 0 0 9px;
    @include transition(all .2s ease);
  }
  p {
    display: none;
  }
  @include breakpoint(medium) {
    display: none;
  }
  &.expanded {
    height: 45px;
    bottom: -56px;
    width: 120px;
    .icon-chat {
      float: left;
      font-size: 22px;
    }
    p {
      display: block;
      float: left;
      font-size: 9px;
      margin: 0;
      padding: 8px 0 0 11px;
      color: #aaa;
      text-transform: uppercase;
    }
    span {
      font-family: $neue-light-condensed;
      color: #777;
      display: block;
      font-size: 17px;
      line-height: 14px;
      text-transform: none;
    }
  }
}

.question-wrap {
  background: #fff;
  border: 1px solid #ededed;
  padding: 40px 40px 0 40px;
  margin: 0 0 40px 0;
  background: #fcfcfc;
  @include border-radius(5px);
  @include breakpoint(small) {
    padding: 20px 10px 0 10px;
    margin: 0 0 20px 0;
  }
  h3 {
    margin: 0 0 40px 0;
    text-align: center;
  }
  ul {
    @include clearfix();
    margin-left: 20%;
    max-width: 400px;
    @include breakpoint(small) {
      margin-left: 5%;
    }
  }
}

.id-wrap {
  @extend .question-wrap;
  padding: 0 40px 40px 40px;
  margin-top: 80px;
  h1 {
    margin-top: 0;
    color: #666;
  }
  h3 {
    margin-bottom: 20px;
    color: #777;
    font-size: 17px;
  }
  .btn-continue {
    margin-top: 40px;
  }
  .dob-form {
    margin-top: 30px;
  }
  i.peekover {
    top: -30px;
    height: 68px;
    width: 68px;
    font-size: 40px;
    line-height: 63px;
    border: 3px solid #f1f1f1;
    margin-bottom: -5px;
    @include breakpoint(small) {
      top: -25px;
      height: 55px;
      width: 55px;
      font-size: 34px;
      line-height: 50px;
    }
  }
}

.radio.question-row {
  margin-bottom: 20px;
  text-align: left;
  list-style: none;
  float: none;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint(small) {
    margin-bottom: 15px;
  }
  label {
    font-size: 15px;
    font-family: $neue-light;
    color: #666;
    padding-left: 35px;
  }
}

.banner-alert {
  display: none;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  background: #636363;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  @include transition(all .3s ease);
  z-index: 9999;
  p {
    color: #eee;
  }
  &.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.banner-title {
  background: #333;
  padding: 21px 15px 21px 10px;
  height: 100%;
  margin: 0 15px 0 0;
  top: 0;
  position: absolute;
  span {
    color: #ffe100;
    font-family: $neue-medium-condensed;
    margin-top: -2px;
  }
  .icon-tooltip-question::before {
    padding: 0 12px 0 5px;
    font-size: 20px;
    float: left;
  }
}

.banner-content {
  height: auto;
  padding: 22px 30px 0 170px;
}

.banner-alert-close {
  position: absolute;
  right: 18px;
  top: 21px;
  color: #fff;
}
