// Datepicker

.datepicker-holder {
  position: relative;
}

.datepicker {
  background: #fff;
  top: 0;
  position: absolute;
  width: 340px;
  margin-top: 2px;
  @include breakpoint(small) {
    width: 85%;
  }
}

.datepicker-days, .dow, .datepicker-months, .datepicker-years {
  padding: 5px 5px;
  text-align: center;
}

.datepicker td {
  @include transition(all .2s ease);
}

.datepicker .disabled {
  color: #ccc !important;
  cursor: default;
  background: none !important;
  &:hover {
    background: transparent;
    color: #ccc;
    cursor: default; 
  }
}

.datepicker table.table-condensed {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2px;
}

.datepicker-days table.table-condensed td {
  padding: 10px;
  border: 0;
  border-radius: 3px;
  text-align: center; 
  color: #666;
  cursor: pointer;
}

.datepicker-months table.table-condensed span, .datepicker-years table.table-condensed span{
  padding: 20px 25px;
  border: 0;
  border-radius: 3px;
  text-align: center; 
  color: #666;
  cursor: pointer;
  display: block;
  float: left;
  width: 18%;
}

.datepicker-days table.table-condensed th.prev, .datepicker-days table.table-condensed th.next, .datepicker-months table.table-condensed th.prev, .datepicker-months table.table-condensed th.next, .datepicker-years table.table-condensed th.prev, .datepicker-years table.table-condensed th.next {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    color:#666;
    border-radius:3px; 
  }
}

.datepicker-days table.table-condensed th.switch, .datepicker-switch, .datepicker-months table.table-condensed th.switch, .datepicker-years table.table-condensed th.switch {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.dow {
  font-weight: normal;
  text-align: center;
  color:#333;
}

td.day.active, td.active.new {
  background-color: $primary-color;
  color: #444;
  border-radius: 3px;
  &:hover {
    background-color: darken($primary-color, 1);
  }
}

td.day.old, td.day.new {
  background-color: #f7f7f7;
}

td.day:hover, span.year:hover, span.month:hover {
  background-color: #ddd;
}

td.day:active, span.year:active, span.month:active {
  background-color: #aaa; 
  color: #fff;
}

td.day:active, span.year:active, span.month:active { 
  background-color: #aaa; 
  color: #FFF; 
}
