footer, main:after { 
  height: 80px;
}

footer { 
  padding: 20px 5px;
  width: 100%;
  background: #000; 
  clear: both;
  a {
    color: #bbb;
    &:hover {
      color: #eee;
    }
  }
  @include breakpoint(small) {
    min-height: 80px;
    height: auto;
  }
}

.footer-links {
  ul {
    margin: 0 auto;
    text-align: center;
  }
  li {
    display: inline;
    padding-left: 10px;
    line-height: 20px;
    font-size: 12px;
    &:before {
      content: '\2022';
      padding-right: 10px;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        content: '';
        padding-right: 0;
      }
    }
  }
}
