@import 'compass/css3';
@import 'lib/bootstrap/bootstrap';
@import 'lib/animate';
@import 'lib/dropdownselect';
@import 'lib/selectize';
@import 'fonts';

// Variables and global styles
// example usage: 
//
// h3 {
//  font-size: 2em;
//  @include breakpoint(small) {
//  font-size: 1.2em;
//  }
// }

@mixin breakpoint($point) {
  @if $point == largest {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == larger {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 968px)  { @content; }
  }
  @else if $point == medium {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == small {
    @media (max-width: 660px)  { @content; }
  }
  @else if $point == smaller {
    @media (max-width: 480px)  { @content; }
  }
  @else if $point == smallest {
    @media (max-width: 400px)  { @content; }
  }
  @else if $point == min-small {
    @media (min-width: 660px)  { @content; }
  }
  @else if $point == min-medium {
    @media (min-width: 767px)  { @content; }
  }
  @else if $point == min-large {
    @media (min-width: 968px)  { @content; }
  }
}

@mixin active-bounce() {
  &:active {
    position: relative;
    top: 1px;
  }
}

// Colors

$primary-color: #FFDF01;
$btn-primary: #27ae60;
$btn-primary-hover: desaturate(lighten(#27ae60, 7), 11);
$grey: #efefef;
// Fonts
$neue-light: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$neue-light-condensed: 'HelveticaNeue-LightCn', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$neue-regular: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$neue-medium-condensed: 'HelveticaNeue-MdCn', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Fonts
$neue-light: 'Source Sans Pro', sans-serif;
$neue-light-condensed: 'Source Sans Pro', sans-serif;
$neue-regular: 'Source Sans Pro', sans-serif;
$neue-medium-condensed: 'Source Sans Pro', sans-serif;

// Colors

*, *:after, *:before {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include box-sizing(border-box);
}

img {
  max-width: 100%;
}

body {
  font-size: 15px;
  color: #666;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: $neue-regular;
}

html, body {
  height: 100%;
}

// Sorry for a bootstrap override, not much of a choice if you want a flexible grid with a stop point

.container-fluid {
  max-width: 940px;
  padding: 0;
  @include breakpoint(large) {
    padding: 0 15px;
  }
}

// Placeholder 

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder { 
  color: #ccc;
}
:-ms-input-placeholder {  
  color: #ccc;
}
-ms-input-placeholder {
  color: #ccc;
}

// General helper classes

.remove {
  display: none;
}

.no-float {
  float: none;
}

.block-center {
  margin: 0 auto;
}

.pull-left, .fl {
  float: left;
}

.pull-right, .fr {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.block {
  display: block;
}

.spacer-top {
  margin-top: 35px;
}

.spacer-bottom {
  margin-bottom: 35px;
}

.font-medium {
  font-family: $neue-medium-condensed;
  font-weight: 600
}

.clear {
  clear: both;
}
