header { 
  border-top: 5px solid $primary-color;
  padding: 35px 0 45px;
  @include breakpoint(small) {
    padding: 20px 0 30px 0;
  }
}

.header-content {
  @include make-row();
  padding: 0 15px;
}

.logo { 
  font-family: 'Asurion';
  float: left;
  font-size: 32px;
  line-height: 36px;
  color: #333;
  @include breakpoint(small) {
    display: block;
    text-align: center;
    float: none;
  }
}

.header-links {
  margin: 6px 0 0 0;
  float: right;
  @include breakpoint(small) {
    margin: 25px 0 0 0;
    text-align: center;
    float: none;
    display: block;
  }
}

.chat-link {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 10px;
  margin-top: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: background 0.3s ease 0s;
  &:hover {
    background: #fafafa;
  }
}

i.icon-livechat:before {
  content: "\e011";
  font-size: 17px;
  margin-right: 9px;
  vertical-align: middle;
}

.es-link {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}
