.modal {
  padding: 0 10px;
}

.modal-backdrop.in {
  opacity: .7;
  filter: alpha(opacity=70);
  z-index: 1000;
}

.modal-dialog {
  width: 650px;
  margin: 20px auto;
  @include breakpoint(medium) {
    width: 100%;
  }
  h2 {
    font-family: $neue-light-condensed;
  }
}

.modal-header {
  text-align: center;
  padding: 20px 10px;
  .close {
    margin-top: -20px;
    font-family: $neue-light;
    font-size: 30px;
    font-weight: 100;
    @include transition(opacity .3s ease);
    &:hover {
      @include transition(opactiy .3s ease);
    }
  }
  @include breakpoint(small) {
    padding: 15px 5px;
  }
}

.modal-body {
  text-align: center;
  position: relative;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;
  p {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(small) {
      max-width: 100%;
    }
  }
}

.modal-footer {
  background: #f4f4f4;
  @include border-radius( 0 0 5px 5px);
  @include box-shadow(inset 0 0 1px #fff);
  .btn {
    margin: 0 auto;
  }
}
