// Bootstrap is the worst kind of thing

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 20px 10px 15px 10px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #eee;
}

.table {
  border: 1px solid #eceff1;
  font-size: 15px;
  td {
    border-left-color: #eceff1;
    border-top-color: #eceff1;
    padding: 20px;
  }
  th {
    font-weight: normal;
    font-family: $neue-medium-condensed;
    color: #333;
  }
  &.table-borderless {
    border: none;
    td {
      border: none !important;
    }
  }
}

.table-light-bg {
  background: #fcfcfc;
}

.table.table-rounded {
  border-collapse: separate;
  border: none;
  tr {
    td {
      border-bottom: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      &:first-child {
        border-left: 1px solid #eaeaea;
      }
    }
    &:first-of-type {
      td { 
        border-top: 1px solid #eaeaea;     
        &:first-child {
          @include border-radius(4px 0 0 0);
          border-left: 1px solid #eaeaea;
        }
        &:last-child {
          @include border-radius(0 4px 0 0);
        }
      }
    }
    &:last-of-type {
      td {      
        &:first-child {
          @include border-radius(0 0 0 4px);
          border-left: 1px solid #eaeaea;
        }
        &:last-child {
          @include border-radius(0 0 4px 0);
        }
      }
    }
    @include breakpoint(smallest) {
      td {
        border-top: none;
        border-left: 1px solid #eaeaea;
      }
      &:first-of-type {
        td {
          &:first-child {
            @include border-radius(4px 4px 0 0);
          }
          &:last-child {
            border-top: none;
            @include border-radius(0);
          }
        }
      }
      &:last-of-type {
        td {      
          &:first-child {
            @include border-radius(0);
          }
          &:last-child {
            @include border-radius(0 0 4px 4px);
          }
        }
      }
    }
  }
}

.table.claim-details tr td:first-child {
  background-color: #f7f7f7;
  color: #666;
  font-family: $neue-medium-condensed;
  text-align: right;
  font-size: 13px;
  padding-right: 13px;
}

.table.claim-details tr td:nth-child(2){
  padding-left: 20px;
  padding-right: 20px;
}

// Nested table in claim details overrides

.table-nested {
  &.table > tbody > tr > td, &.table > tbody > tr > th {
    padding: 0;
  }
}

.table.claim-details tr td .table {
  border: none;
  background: none;
  tr {
    th {
      border-top: 1px solid #eee;
      padding: 5px 0 0 0;
      color: #555;
    }
    td:first-child {
      background-color: transparent;
      color: #666;
      text-align: left;
      padding: 0 0 5px 0;
      border: none;
      font-family: $neue-regular;
    }
    td:nth-child(2){
      padding: 0 0 5px 0;
      border: none;
    }
    &.middle-tr {
      td {
        padding: 5px 0;
        border-top: 1px solid #eee;
      }
    }
    @include breakpoint(smallest) {
      td {
        display: table-cell;
        width: 50%;
        float: none;
        &:first-child {
          display: table-cell;
          width: 50%;
          float: none;      
        }
      }
    }
  } 
}

.table-striped tbody > tr:nth-child(odd) > th {
  background: #666;
  color: #fff;
  font-family: $neue-medium-condensed;
}

// Trust me, this hurts me more than it hurts you

@include breakpoint(smallest) {
  .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child, .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child, .table.claim-details tr td:first-child, .table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child, .table.claim-details tr td:nth-child(2) {
    width: 100%;
    float: left;
    display: table;
    text-align: left;
  }
}
