@import 'global';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'datepicker';
@import 'loading';
@import 'modal';
@import 'table';
@import 'content';
@import 'claim-status/claim-status-layout';
@import 'helpers/spacing';
@import 'helpers/misc';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $neue-light;
  letter-spacing: -.04em;
}

h1 {
  font-size: 30px;
  line-height: 35px;
  color: #333;
  font-weight: 300;
  font-family: $neue-light-condensed;

}

.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  @include breakpoint(small) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  // little baaaaaby h2
  h2 {
    color: #999;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 500px;
  }
}

.resume-title {
  margin-bottom: 70px;
  @include breakpoint(small) {
    margin-bottom: 50px;
  }
  h1 {
    margin-bottom: 5px;
  }
  h2 {
    font-size: 22px;
    line-height: 24px;
    font-family: $neue-light-condensed;
    color: #999;
    max-width: none;
  }
}

h2, .main-title {
  color: #666;
  font-size: 24px;
  line-height: 30px;
}

h3 {
  color: #666;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}

h4 {
  font-size: 17px;
  line-height: 20px;
  font-family: $neue-regular;
  color: #666;
  margin: 0 0 10px 0;
  &.smaller {
    font-size: 15px;
  }
}

h5 {
  font-size: 15px;
  line-height: 20px;
}

h6 {
  font-size: 13px;
  line-height: 20px;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #777;
}

.text-small {
  font-size: 13.5px;
  line-height: 17px;
}

// Link styles

a {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
  @include transition(all .2s ease);
  &:hover {
    text-decoration: none;
    color: #333;
    @include transition(all .2s ease);
  }
  &:active, &:focus {
    text-decoration: none;
  }
  img {
    border: 0;
  }
  &.underline {
    border-bottom: 1px solid #ccc;
    &:hover {
      border-bottom-color: #333;
    }
  }
}

label {
  font-size: 11.5px;
  display: block;
  font-weight: 500;
  margin-bottom: 3px;
  color: #666;
  text-align: left;
}

ul, ol {
  margin: 0 0 10px 25px;
}

/* icon colors */

.help-tooltip {
  float: left;
  margin: 30px 0 0 0;
}

.help-icon { 
  color: $primary-color;
  font-size: 24px; 
  margin-left: 10px;
  width: 24px;
  height: 24px;
  margin-top: -25px; 
}

main {
  min-height: 100%;
  margin-bottom: -80px;
  &:after {
    content: "";
    display: block;
  }
}

.page-wrap:after {
  content: "";
  display: block;
  height: 80px;
}

.step-container {
  padding-right: 0;
  padding-left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transition(all .4s ease);
  &.test {
    -webkit-animation: test .5s 1 linear;
  }
  &.test-in {
    -webkit-animation: test-in .5s 1 linear;    
  }
}

@-webkit-keyframes test {
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5%);
    opacity: 0;
  }
}

@-webkit-keyframes test-in {
  0% {
    -webkit-transform: translateY(5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}





// Get Started 

.get-started {
  margin: 80px 0 0 0;
  @include breakpoint(medium) {
    margin: 40px 0 0 0;
  }
  .card {
    background-color: #ECEFF1;
    padding-bottom: 40px;
    min-height: 230px;
    border-radius: 6px;
    text-align: center;
    @include breakpoint(medium) {
      min-height: 180px;
      margin-bottom: 40px;
    }
  }
  h3 {
    font-size: 20px;
    color: #333;
    @include text-shadow(1px 1px 1px #fff);
  }
  p {
    width: 78%;
    margin: 20px auto 0 auto;
    font-family: $neue-light;
  }
}

.card-2, .delay-1 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.card-3, .delay-2 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.card-4, .delay-3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

i.large{
  width: 60px;
  height: 60px;
  border-radius: 100% 100% 100% 100%;
  background-color: #FFFFFF;
  border: 3px solid #ECEFF1;
  font-size: 30px;
  line-height: 56px;
  text-align: center;
}

.expandable i.icon-tooltip-question { color: #B00000; }

i, i.large {
  color: $primary-color;
  &.inactive {
    color: #ccc;
  }
}

.icon-checkmark {
  color: $btn-primary !important;
}

i.peekover {
  top: -14px;
  margin: 0 auto;
  position: relative;
  display: block;
}

// Input Append

.add-on i.icon-cal {
  font-size: 24px;
}

.add-on i.icon-arr-down {
  line-height: 24px;
}

// Wells

.well {
  display: block;
  height: auto;
  border: 1px solid #eee;
  box-shadow: none;
  &.primary {
    background-color: #f7f7f7;
  }
  &.secondary {
    background-color: #FFF;
  }
  &.replacement {
    padding: 25px;
  }
}

.confirm-account-well {
  padding: 30px 20px 35px 20px;
}

.confirm-question {
  max-width: 48%;
  @include breakpoint(medium) {
    max-width: 100%;
    float: none !important;
  }
}

.well.inner-top, .well.inner-bottom, .well.inner-left, .well.inner-right {
  border: none;
}

.well.inner-top {
  margin: -19px -19px 20px -19px;
  border-radius: 4px 4px 0 0;
}

.well.inner-bottom {
  margin: 40px -19px -19px -19px;
  border-radius: 0 0 4px 4px;
}

.well.inner-left {
  margin: -19px 20px -19px -19px;
  border-radius: 4px 0 0 4px;
}

.well.inner-right {
  margin: -19px -19px -19px 20px;
  border-radius: 0 4px 4px 0;
}

// Steps

.claimstep {
  position: relative;
  background: #fefefe;
  border: 1px solid #efefef;
  border-top: none;
  display: block;
  padding: 0 0 20px 0;
  margin-bottom: 40px;
  @include transition(all .3s ease);
  @include backface-visibility(hidden);
  @include border-radius(0 0 6px 6px);
  @include breakpoint(medium) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.stepbar {
  background-color: #efefef;
  display: block;
  height: 60px;
  border: 1px solid #ddd;
  border-bottom: 3px solid $primary-color;
  @include border-radius(6px 6px 0 0);
  i {
    float: left;
    display: block;
    font-size: 21px;
    text-align: center;
    border: 1px solid #E1E0E0;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 8px;
    margin: 9px 15px 0 15px;
  }
  @include breakpoint(medium) {
    height: 65px;
    i {
      display: none;
    }

  }
}

.stepbar-text-top, .popover-content .title {
  float: left;
  min-width: 70%;
  margin-top: 15px;
  font-size: 11px;
  color: #AAA;
  text-transform: uppercase;
  line-height: 10px;
  font-family: $neue-regular;
  letter-spacing: -1px;
  @include breakpoint(medium) {
    margin-top: 12px;
    width: 100%;
    text-align: center;
  }
}

.stepbar-text-bottom, .popover-content p {
  float: left;
  min-width: 70%;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  letter-spacing: -.03em;
  font-family: $neue-light-condensed;
}

.popover-content p {
  font-size: 15px;
}

.stepbar-text-top, .stepbar-text-bottom {
  @include breakpoint(medium) {
    width: 100%;
    text-align: center;
  }
}

.popover.right {
  margin-left: 14px;
  width: 150px;
  z-index: 9999;
}

.stepbar.inactive, .stepbar.complete {
  margin-bottom: 20px;
  border-bottom-color: #DDD;
}

.stepbar.inactive .stepbar-text-top, .stepbar.complete .stepbar-text-top {
  color: #CCC;
}

.stepbar.inactive .stepbar-text-bottom, .stepbar.complete .stepbar-text-bottom {
  color: #888;
}

.stepbar.inactive i {
  color: #CCC !important;
}

.stepbar.complete i {
  color: #339966 !important;
}

.popover-content {
  @include clearfix;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 16px;
  p, .title {
    margin: 0;
    max-width: none;
  }
  .title {
    margin-top: 3px;
  }
}

.popover-title:empty {
    display: none;
}

.popover {
  @include box-shadow(0 0 4px rgba(0,0,0,.1));
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
  border: 1px solid #ccc;
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 45px;
}

.row-form {
  .radio {
    margin-bottom: 20px;
  }
  textarea, input, .uneditable-input, .selectize-control {
    margin: 0 0 35px 0;
  }
  textarea.incident-description {
    margin-bottom: 0px;
  }
  @include breakpoint(medium) {
    margin-bottom: 0;
    input, .selectize-control {
      margin-bottom: 20px;
    }
    .radio label {
      margin-top: 0px;
    }
  }
  &.last {
    margin-bottom: 0;
  }
}

.checkbox-row {
  margin-bottom: 25px;
  p {
    margin: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkbox-row-top {
  p {
    margin: 0;
  }
}

.checkbox-well {
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
  margin-top: 20px;
  clear: both;
  border-radius: 4px;
  p {
    color: #999;
    font-size: 14px;
    padding: 0;
  }
}

.toggle-text {
  @include breakpoint(smallest) {
    width: 100%;
  }
}

.toggle-container {
  @include breakpoint(smallest) {
    width: 100%;
    margin: 0 auto;
  }
  label {
    color: #888;
    font-size: 15px;
    float: left;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
  }
  .toggle{
    display: block;
    border-radius: 5px;
    background: #fff;
    width: 100px;
    -webkit-box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.1), inset 1px 1px 0 0 #eee;
    box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.1), inset 1px 1px 0 0 #eee;
    &:after {
      content: '';
      clear: both;
      display: block;
    }
    @include breakpoint(smallest) {
      margin: 10px auto 0 auto;
    }
  }
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle:checked + label {
  color: #fff;
  border-color: transparent;
  //background: $btn-primary;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 2px 0 0 darken($btn-primary, 5%);
  box-shadow: 0px 2px 0 0 darken($btn-primary, 5%);
  border-left: 0px;
  &:nth-of-type(2) {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 0px 2px 0 0 darken($btn-primary, 5%);
    box-shadow: 0px 2px 0 0 darken($btn-primary, 5%);
    border-left: 1px solid $btn-primary;
  }
  &:after {
    background: $btn-primary;
    height: 60px;
    width: 60px;
    margin: -40px 0 0 -10px;
  }
}

input[type="radio"].toggle + label {
  width: 50px;
  height: 30px;
  padding: 7px 5px 4px 5px;
  background: transparent;
  overflow: hidden;
  &:nth-of-type(2) {
    border-left: 1px solid #eee;
  }
  &:after {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    content: '';
    display: block;
    background: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: -13px 0 0 13px;
  }
}

input[type="radio"].toggle-left + label {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

input[type="radio"].toggle-right + label {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #eee;
}


.lt-ie9 {
  .toggle-container .toggle {
    background: none;
    box-shadow: none;
  }
  .toggle-container {
    label {
      display: inherit;
    }
  }
  input[type="radio"].toggle {
    display: inherit;
    background: none;
    border: none;
    width: 20px;
    margin: 0;
    float: left;
    padding-top: 4px;
    &:after {
      display: none;
    }
    + label {
      height: auto;
      width: auto;
      padding: 0;
      border: none;
      &:after {
        content: none;
      }
    }
  }
  input[type="radio"].toggle.toggle-right {
    margin-left: 10px;
  }
  input[type="radio"].toggle + label {
    background: none;
  }
  input[type="radio"].toggle:checked + label {
    background: none;
    color: inherit;
    box-shadow: none;
    border: none;
    &:after {
      content: none;
      background: none;
      border: none;
    }
  }
}

.input-help {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 11px;
  color: #aaa;
  display: inline-block;
  width: 80px;
  @include breakpoint(745px) {
    position: absolute;
  }
}

.help-block {
  font-size: 12px;
  color: #999;
  margin: 0;
  @include breakpoint(medium) {
    margin: -20px 0px 20px 0px;
  }
}

.business-account{
  margin-bottom: 30px;
  margin-top: 20px;
  h2 {
    font-size:20px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin: 0 30px 0 0;
    float: left;
  }
}

.incident-description {
  height: 130px;
}

.affected-device {
  img {
    margin-bottom: 15px;
  }
  .btn {
    margin: 20px 0 0 0;
  }
  p {
    margin: 0;
  }
}

.shipping-method {
  border-right: 1px solid #ddd; 
  margin-right: 10px;
  padding-right: 10px;
}

.positive-message {
  color: $btn-primary;
}

textarea, input, .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
  padding: 14px 6px;
  border-radius: 3px;
  color: #666;
  width: 100%;
  font-size: 14px;
  &:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0;
    outline: thin dotted \9;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 0, 0.3));
  }
  &.invalid {
    background: #fdefef;
  }
  @include breakpoint(small) {
    margin: 0;
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=tel]::-ms-clear {  display: none; width : 0; height: 0; }

textarea {
  padding: 6px;
}

.validation-icon {
  height: 44px;
  width: 42px;
  right: 17px;
  top: 20px;
  text-align: center;
  position: absolute;
}

.invalid-icon {
  padding-top: 14px;
  background: rgba(253, 239, 238, .8);
  color: #C52103;
  font-size: 19px;
}

.valid-icon {
  padding-top: 11px;
  background: rgba(255, 255, 255, .8);
  color: #C52103;
  font-size: 25px;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

#checkbox-input {
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset;
  cursor: pointer;
  font-size: 24px;
  text-indent: 12px;
  line-height: 48px;
  color: transparent;
  &.selected {
    color: #27ae60;
  }
}

.radio {
  @include breakpoint(medium) {
    margin: 5px 0;
    float: left;
  }
  input {
    display: none;
  }
  label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    @include transition(all .2s ease);
    padding-top: 0;
    display: inline-block;
    font-family: $neue-regular;
    font-size: 14px;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 0;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    &::before {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.35));
      background: #fff;
    }
    &::after {
      background: #27AE60;
      opacity: .2;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease;
      -webkit-border-radius: 10px;
    }
  }
}

.radio input:checked + label::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 1;
  -webkit-box-shadow: 0 0 3px -1px #27AE60;
  box-shadow: 0 0 3px -1px #27AE60;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.lt-ie9, .lt-ie10 {
  .radio label::before, .radio label::after {
    display: none;
  }
  .radio label {
    padding-left: 10px;
    float: left;
  }
  .radio input {
    width: 20px;
    padding: 5px 0 0 0;
    margin: 0;
    display: block;
    float: left;
    background: none;
    border: none;
    box-shadow: none;
  }
  .radio input[type='radio'] {
    margin-left: 0;
  }
  .affected-accessory #accessories-no, .affected-accessory #accessories-yes {
    margin-top: 3px;
  }
} 

.multiple-choice {
  margin: 0;
  li {
    list-style: none;
    margin-top: 40px;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

i.icon-print {
  color: #333;
  padding-right: 10px;
}

#printclaiminfo {
  color:#fff;
  text-align:center;
  margin:0 auto;
  a {
    margin: 0 0 40px;
  }
  i {
    color: #fff;
    padding-right: 0;
  }
}

#ccbox {
  background: transparent url('../images/cards.gif');
  width: 152px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  clear: both;
  margin-left: 16px;
  margin-top: 10px;
  float: left;
}

p.caption {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* arrow styles */

.arrow-block-right {
  display: block;
  margin-top: 140px;
}

.arrow-container {
  padding-top: 150px;
  @include breakpoint(medium) {
    padding: 40px 0;
  }
}

.arrow-body {
  background: #999;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: $neue-light;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 7px 0;
  @include breakpoint(medium) {
    background: none;
    color: #888;
  }
}

.arrow-right {
  float: right;
  border-left: 25px solid #999;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: relative;
  width: 0px;
  margin: -16px 0 0 0;
  position: absolute;
  right: 0;
  @include breakpoint(medium) {
    display: none;
  }
}

// Selectize Overrides 

.selectize-control.single .selectize-input:after {
  content: "\e000";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: #ccc;
  color: #eee;
  width: 44px;
  height: 100%;
  font-family: 'Asurion';
  text-align: center;
  padding-top: 15px;
  border: none;
  margin-top: 0;
  @include transition(all .3s ease);
}

.selectize-control.single .selectize-input.dropdown-active:after {
  background: #bbb;
  margin-top: 0;
}

.selectize-control.single:hover {
  .selectize-input:after {
    background: #bbb;
  }
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: $neue-regular;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: inherit;
  white-space: nowrap;
  overflow: hidden;
}

.selectize-input {
  color: #666;
  border: 1px solid #cccccc;
  padding: 14px 6px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.selectize-dropdown-content {
  text-align: left;
  overflow-y: scroll;
  .option {
    &:hover {
      background: #f4f4f4;
      @include transition(all .3s ease);
    }
  }
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 7px 8px;
}

// inline banner alert 

.alert {
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  p {
    margin: 0;
    font-size: 13px;
    padding-left: 10px;
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 70px;
    padding-top: 23px;
    padding-left: 14px;
    background: #fbfbfb;
    border-right: 1px solid #eee;
    border-radius: 5px 0 0 5px;
    color: $primary-color;
    font-size: 24px;
  }
}

.alert-content {
  width: 76%;
  display: inline-block;
  vertical-align: middle;
}
.upsell-button {
  margin:30px auto 20px;
}
.upsell-header {
  @include breakpoint(small) {
	font-size: 18px;
    line-height: 20px;
  }
}
.upsell-logo {
  @include breakpoint(small) {
    display:none;
  }
}
@media print {
  html, body {
    font-family: 'Helvetica', arial, sans-serif !important;
    border-top: none;
    color: #000 !important;
  }
  h1, h2, h3, h4, h5, h6, p, th, td, label {
    font-family: 'Helvetica', arial, sans-serif !important;
  }
  .icon, .icon-checkmark {
    color: #000 !important;
  }
  .btn-continue, .btn-exit, .progress, footer, .chat-link, .stepbar, .banner-alert, img {
    display: none;
  }
  header {
    padding: 20px 0;
    text-align: center;
  }
  header, .claimstep, .step-container {
    border: none;
    width: 100%;
  }
  .page-title {
    margin: 20px 0;
  }
  a[href]:after {
    content: none !important;
    content: "";
  }
  [class*="col-sm-"] {
    float: left;
    display: block;
  }
  .row{
    width:100%;
  }
  .col-sm-6{
    width:50%;
  }
  .col-sm-4{
    float: right;
    width:40%;
  }

  img {
    display:block;
    margin: 0 auto;
    page-break-inside: avoid;
  }
}

// Updated to fully integrate //

/**** SPRINT CHANGES  **************/

.err {
  color: red;
  font-size: 11px;
  font-weight: 500;
}

img.dropdown-img {
  max-width: 45px;
  display: inline-block;
}


.cheekybox-disabled {
  color: #E4E4E4 !important;
  background: #F5F5F5 !important;
}

/* Sticky Footer Styling */
.pre-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -78px;
}

.has-error {
  display: block;
  min-height: 17px;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  margin: -34px 0 17px 0;
  color: #C52103;
  @include breakpoint(medium) {
    margin: 0;
    top: -18px;
  }
}


input[type=password] {
  -webkit-text-security: disc;
}

.date input[type="text"] {
  min-height: 50px;
}

.confirm-question {
  text-align: center;
  input {
    margin-bottom: 0;
  }
}

.dropdown-model {
  white-space: normal;
}

.affected-device .dropdown-img {
  padding-left: 5px;
}

.accessory-list-title {
  @include breakpoint(smallest) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.accessory-list {
  @include breakpoint(smallest) {
    width: 100%;
    float: none;
  }
}

/********************************************** */

vtable td {
    border-left-color: #eceff1;
    border-top-color: #eceff1;
    padding: 20px;
    border-top: 1px solid #eceff1;
}

/*changes for backorder script padding*/
.bko-padding {
  margin-top: 25px;
}

/***** Changes for cheeky box label ends ****/
/***** Changes for Radio button spacing on update shipping page starts ****/
@media (min-width: 768px) and (max-width: 890px) {
  .radio-space {
      margin-right: 10px;
  }
  .business-textWrap {
    white-space: nowrap;
    width: 31.5%;
    margin-left: 48%;
  }
}

@media (max-width: 766px) {
  .progress h6 {
    display: none;
  }
}
@media (max-width: 766px) {
  .sidebar-chat {
    display: none;
  }
}

/*********** Changes for Radio button spacing on Replacement Page for IE 8 *************/
.lt-ie9 {
  .date input[type="text"] {
    min-height: 100%;
  }
  .col-xs-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 12px;
      padding-right: 12px;
  }
  .col-sm-1 {
    padding-left: 0px;
    padding-right: 0px;
    label {
      padding-left: 0px;

    }
  }
  .radio {
    input, input[type='radio']  {
      width: 20px;
      padding: 5px 0 0 0;
      margin: 0;
      display: block;
      float: left;
      background: none;
      border: none;
      box-shadow: none;
    }
    label {
      padding-left: 10px;
      float: left;
    }
  }
  .affected-accessory #accessories-no, .affected-accessory #accessories-yes {
    margin-top: 3px;
  }
  .spinner{
    width: 100px;
    height: 100px;
    display: block;
    background-image: url("../../assets/images/ajax-loader.gif");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: transparent;
    div {
      display: none;
    }
  }
  .loading p {
    color: #666;
    font-family: $neue-light-condensed;
    text-transform: uppercase;
    font-size: 18px;
  }
  .add-on {
    padding: 11px 10px 0 10px;
    min-height: 0;
    top: 0;
  } 
  .selectize-input input {
    float: left;
  }
  .selectize-input .item {
    left: 5px;
    position: absolute;
  }
  .selectize-input {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .selectize-control.single .selectize-input:after {
    height: 45px; 
  }
  .yes-no-label{
    margin-left: 10px;
    margin-top: -16px;
  }
  .progress h6 {
    left: -14px;
    top: 70px;
    writing-mode: tb-rl;
  }
  .table-borderless > tbody > tr > td{
    padding: 0px;
  }
  .table table td {
    border-top: none;
    border-right: none;
  }
}

.lt-ie10 {
  .radio {
    label {
      padding-left: 10px;
      float: left;
      &:before, &::before, &:after, &::after {
        display: none;
      }
    }
    input {
      width: 20px;
      padding: 5px 0 0 0;
      margin: 0;
      display: block;
      float: left;
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .affected-accessory #accessories-no, .affected-accessory #accessories-yes {
    margin-top: 3px;
  }
  .spinner{
    width: 100px;
    height: 100px;
    display: block;
    background-image: url("../../assets/images/ajax-loader.gif");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: transparent;
    div {
      display: none;
    }
  }
  textarea, input, .uneditable-input {
    line-height: normal;
  }
}

.pff-ng-view{
  height: 100%;
}

.unsuccessful-attempt {
  color: #c52103;
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}

.message-script{
  margin-bottom: 10px;
}

/** Fix for Safari 5.1.7 tooltip when page scroll **/

.po-static-msg{
  font-size: 13px;
  text-align:center;
  margin-top: 1px;
  color:red;
}

/* Extend Device Unlock Buttons on smaller screens */
@media (max-width: 767px) {
  .extend-btn {
    width: 95%;
    float: none;
    margin: 0 auto 15px;
  }
}


@media (max-width: 400px) {
  .message-script {
    width: 88%;
    margin: 0 auto 10px auto;
  }
}

.affected-device .dropdown-img img{
  height: 45px;
}
.phoneImage {
  height:280px;
}
