<article class="step1info">
<div class="row">

	<div class="offset1 span10">
		<h1 class="page-title">Please complete the following information</h1>

	<div class="span8 offset1">
		<table class="table table-bordered claim-details">
			<tr>
				<td class="span3">
					Mobile Number
				</td>
				<td class="span5">                 
                        <input type="tel" maxlength="10" name="affected-device-number" placeholder="123-456-7890" id="affected-device-number" class="span4 bfh-phone required lockable stored" data-format="ddd-ddd-dddd" errmsg="Please confirm the number you entered is for the device you are claiming." />
				</td>
			</tr>
			<tr>
				<td class="span3">
					Email Address	
				</td>
				<td class="span5">                 
	            	<input type="email" name="your-email" placeholder="email@address.com" id="your-email" class="span4 required stored" errmsg="Please try again using a valid format (e.g. username@domain.com)" />
                                      					
				</td>
			</tr>

		</table>
	</div>

		<div class="row">
			<!-- <button type="button" data-target="#claimcreated" data-toggle="modal" id="continue" class="span4 offset3 btn btn-primary btn-disabled btn-large step-continue">Continue</button> -->
			
	 		<button type="button" class="span4 offset3 btn btn-primary btn-active btn-large step-continue">Continue</button>
		</div>
	</div>

</div>
</article>

<script>
	$(document).ready(function(){
		if($('dropdownselect').length > 0){
			dropDownSelect();
		}
	});

	$(document).keyup(function() {
				if($('#zip-code').val() == $('#zip-code')[0].defaultValue){
					var formval_err = true;
				}
				if(formval_err != true){
					$('#continue').removeClass('btn-disabled').addClass('btn-active');
				}else{
					$('#continue').removeClass('btn-active').addClass('btn-disabled');
				}
			});		
</script>
