<script type="text/javascript">
		$(document).ready(function() {
			//datepicker functions
			$(function(){
				$('#datepicker').datepicker({
				    viewMode: "days", 
    				minViewMode: "days",
				    endDate: '+0d',
				    autoclose: true,
				});

				$('#datepicker').datepicker().on('show', function(ev){
					$(this).next('.err').remove();
				});
				$('#datepicker').datepicker().on('changeDate', function(ev){
					$('#datepicker').datepicker();
					var selected_date = Math.round(new Date($('#incident-date').val()).getTime() / 1000);
					var date_today = Math.round(new Date().getTime() / 1000);
					if(selected_date < date_today){
						$(this).next('.err').hide();
					}else{
						$(this).next('.err').remove();
						//$('#datepicker').append('<div class="err">You cannot choose a date in the future.</div>');
						$(this).find('input').val('Select the date of the incident');
					}
				});
			});

		});
	</script>
<script type="text/javascript">
	$('#datepicker-2').datepicker({
	    viewMode: "days", 
			minViewMode: "days",
	    endDate: '+0d',
	    autoclose: true,
	});
</script>

<script>
	$(document).keyup(function() {
		if($('#incident-description').val() == $('#incident-description')[0].defaultValue){
			var formval_err = true;
		}
		if(formval_err != true){
			$('#step2submit').removeClass('btn-disabled').addClass('btn-active');
		}else{
			$('#step2submit').removeClass('btn-active').addClass('btn-disabled');
		}
	});		
</script>

<article id="affected-device">
	<h1 class="page-title">Our records indicate your affected device is a&hellip;</h1>
	<div class="row">
		<div class="offset1 span3 text-center">
			<div class="well primary">
				<div class="well secondary inner-top text-center">
					<h4 class="text-center strong">Blackberry Bold XTC</h4>
					<img src="../assets/images/phone_img-sm.png" />
					<p class="margin-top-20 margin-bottom-0 strong text-small light-gray">Deductible Amount: $169.00</p>					
				</div>
				<p class="margin-bottom-0 margin-top-20 text-small">If this is not the device that was damaged please change the device.</p>
				<div class="">
					<p><a data-target="#changedevice" data-toggle="modal" class="btn has-icon change-device-button"><i class="icon-device"></i>change device</a></p>
				</div>
			</div>
		</div>

    <div class="offset1 span4">
	  	<label for="incident-date">The date it happened was...</label>
	    <div class="input-append date span4" id="datepicker">
			<input class="span4" size="16" name="incident-date" id="incident-date" type="text" readonly="readonly" value="Select the date of the incident">
			<span class="add-on"><i class="icon-cal"></i></span>
		</div>
		</div>
        <div class="offset1 span4">
	        <label for="purchase-date">The purchase date was...</label>
	        <div class="input-append date span4" id="datepicker-2">
				<input class="span4" size="16" name="purchase-date" id="purchase-date" type="text" readonly="readonly" value="Select the date of purchase">
				<span class="add-on"><i class="icon-cal"></i></span>
			</div>
		</div>
		<div class="row">
			<div class="offset1 span6">
				<label for="incident-description">In a few words, please tell us what happened</label>  
				<textarea class="span6 incident-description" id="incident-description" name="incident-description" maxchars="500" initial_val="Please describe your incident in 500 characters or less"></textarea>
				<div class="row">
					<p id="charcount" class="pull-right"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button type="button" id="step2submit" class="span4 offset4 btn btn-primary btn-active btn-large step-continue btn-disabled">Continue</button>   
	</div>
</article>
