<div class="loading text-center animated fadeIn">
	<div class="spinner-wrapper animated fadeInDown">
		<h1>Free next day shipping</h1>
		<h2>Receive a replacement device the next business day, because waiting is no fun.</h2>
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		<p>Loading</p>
	</div>
</div>

<!-- Initial Information block -->

<article class="step1info">
	<div class="row">
		<div pane="" class="col-sm-10 col-sm-offset-1">
			<div pane="" class="page-title"><div field="" name="TITLE">
				<h1 data-ng-bind="localeService.getLocaleValue('SUBSCRIBER_INFORMATION_TITLE')" class="ng-binding">Please complete the following information</h1>
			</div></div><div pane="" class="row row-form"><div pane="" class="col-sm-6"><div field="" name="FIRST_NAME" validator-name="FIRST_NAME_Validator" validator-type="inline">
			<label for="FIRST_NAME" data-ng-bind="localeService.getLocaleValue('FIRST_NAME')" class="ng-binding">Your First Name</label>
			<span class="animated fadeIn validation-icon icon-close invalid-icon" data-ng-class="{
			'icon-close' : pageValidator.fields.FIRST_NAME.status == fieldStatus.FAILED,
			'icon-checkmark' : pageValidator.fields.FIRST_NAME.status == fieldStatus.SUCCESS,
			'invalid-icon' : pageValidator.fields.FIRST_NAME.status == fieldStatus.FAILED,
			'valid-icon' : pageValidator.fields.FIRST_NAME.status == fieldStatus.SUCCESS,
			'icon-validated-lock' : pageValidator.fields.FIRST_NAME.status == fieldStatus.LOCKED}"></span>
			<input type="text" class="span6 ng-pristine ng-valid invalid" name="FIRST_NAME" id="FIRST_NAME" data-ng-class="{'invalid' : pageValidator.fields.FIRST_NAME.status == fieldStatus.FAILED}" placeholder="First name" data-ng-model="model.Fields.FIRST_NAME" data-ng-readonly="pageValidator.fields.FIRST_NAME.status == fieldStatus.LOCKED" data-ng-change="enableContinueButton()" maxlength="30">
			<div class="has-error animated fadeInDown ng-binding" data-ng-show="pageValidator.fields.FIRST_NAME.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.FIRST_NAME.errorMsg">Please enter your first name</div>
		</div></div><div pane="" class="col-sm-6"><div field="" name="LAST_NAME" validator-name="LAST_NAME_Validator" validator-type="inline">
		<label for="LAST_NAME" data-ng-bind="localeService.getLocaleValue('LAST_NAME')" class="ng-binding">Your Last Name</label>
		<span class="animated fadeIn validation-icon" data-ng-class="{
		'icon-close' : pageValidator.fields.LAST_NAME.status == fieldStatus.FAILED,
		'icon-checkmark' : pageValidator.fields.LAST_NAME.status == fieldStatus.SUCCESS,
		'invalid-icon' : pageValidator.fields.LAST_NAME.status == fieldStatus.FAILED,
		'valid-icon' : pageValidator.fields.LAST_NAME.status == fieldStatus.SUCCESS,
		'icon-validated-lock' : pageValidator.fields.LAST_NAME.status == fieldStatus.LOCKED}"></span>
		<input type="text" name="LAST_NAME" id="LAST_NAME" data-ng-class="{'invalid' : pageValidator.fields.LAST_NAME.status == fieldStatus.FAILED}" placeholder="Last name" data-ng-model="model.Fields.LAST_NAME" data-ng-readonly="pageValidator.fields.LAST_NAME.status == fieldStatus.LOCKED" data-ng-change="enableContinueButton()" maxlength="30" class="ng-pristine ng-valid">
		<div class="has-error animated fadeInDown ng-binding" data-ng-show="pageValidator.fields.LAST_NAME.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.LAST_NAME.errorMsg">Ping</div>
	</div></div></div><div pane="" class="row row-form"><div pane="" class="col-sm-6"><div field="" name="MDN" validator-name="MDN_Validator" validator-type="inline">
	<label for="MDN" data-ng-bind="localeService.getLocaleValue('MDN')" class="ng-binding">Mobile Number of Affected Device</label>
	<span class="animated fadeIn validation-icon" data-ng-class="{
	'icon-close' : pageValidator.fields.MDN.status == fieldStatus.FAILED,
	'icon-checkmark' : pageValidator.fields.MDN.status == fieldStatus.SUCCESS,
	'invalid-icon' : pageValidator.fields.MDN.status == fieldStatus.FAILED,
	'valid-icon' : pageValidator.fields.MDN.status == fieldStatus.SUCCESS,
	'icon-validated-lock' : pageValidator.fields.MDN.status == fieldStatus.LOCKED}"></span>
	<input type="tel" class="span6 bfh-phone" name="MDN" id="MDN" placeholder="123-456-7890" maxlength="12" modelattr="MDN" model="model" data-ng-readonly="pageValidator.fields.MDN.status == fieldStatus.LOCKED" data-ng-class="{'invalid' : pageValidator.fields.MDN.status == fieldStatus.FAILED}" changeevent="enableContinueButton" data-format="ddd-ddd-dddd">
	<div class="has-error animated fadeInDown ng-binding ng-hide" data-ng-show="pageValidator.fields.MDN.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.MDN.errorMsg"></div>
</div></div><div pane="" class="col-sm-4"><div field="" name="CONTACT_NUMBER" validator-name="CONTACT_NUMBER_Validator" validator-type="inline">
<label for="CONTACT_NUMBER" data-ng-bind="localeService.getLocaleValue('CONTACT_NUMBER')" class="ng-binding">Your Contact Number</label>
<span class="animated fadeIn validation-icon" data-ng-class="{
'icon-close' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.FAILED,
'icon-checkmark' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.SUCCESS,
'invalid-icon' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.FAILED,
'valid-icon' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.SUCCESS,
'icon-validated-lock' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.LOCKED}"></span>
<input type="tel" name="CONTACT_NUMBER" id="CONTACT_NUMBER" placeholder="123-456-7890" maxlength="12" modelattr="CONTACT_NUMBER" model="model" class="span6 bfh-phone" data-ng-class="{'invalid' : pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.FAILED}" changeevent="enableContinueButton" data-format="ddd-ddd-dddd">

<div class="has-error animated fadeInDown ng-binding ng-hide" data-ng-show="pageValidator.fields.CONTACT_NUMBER.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.CONTACT_NUMBER.errorMsg"></div>
</div></div><div pane="" class="col-sm-2"><div field="" name="EXTENSION" validator-type="inline">

<label data-ng-bind="localeService.getLocaleValue('EXTENSION')" class="ng-binding">Ext</label>
<span class="textbox-icon"></span>

<input name="EXTENSION" id="EXTENSION" class="stored number ng-pristine ng-valid" type="tel" placeholder="111111" data-ng-model="model.Fields.EXTENSION" maxlength="6">

</div></div></div><div pane="" class="row row-form last"><div pane="" class="col-sm-6"><div field="" name="EMAIL" validator-name="EMAIL_Validator" validator-type="inline">
<label for="EMAIL" data-ng-bind="localeService.getLocaleValue('EMAIL')" class="ng-binding">Your Email</label>
<span class="animated fadeIn validation-icon" data-ng-class="{
'icon-close' : pageValidator.fields.EMAIL.status == fieldStatus.FAILED,
'icon-checkmark' : pageValidator.fields.EMAIL.status == fieldStatus.SUCCESS,
'invalid-icon' : pageValidator.fields.EMAIL.status == fieldStatus.FAILED,
'valid-icon' : pageValidator.fields.EMAIL.status == fieldStatus.SUCCESS,
'icon-validated-lock' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.LOCKED}"></span>
<input type="text" class="span6 ng-pristine ng-valid" name="EMAIL" id="EMAIL" placeholder="email@address.com" data-ng-model="model.Fields.EMAIL" data-ng-class="{'invalid' : pageValidator.fields.EMAIL.status == fieldStatus.FAILED}" data-ng-change="enableContinueButton()" maxlength="100">

<div class="has-error animated fadeInDown ng-binding ng-hide" data-ng-show="pageValidator.fields.EMAIL.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.EMAIL.errorMsg"></div>
</div></div><div pane="" class="col-sm-6"><div field="" name="VERIFY_EMAIL" validator-name="VERIFY_EMAIL_Validator" validator-type="inline" validator-arg="EMAIL">
<label for="VERIFY_EMAIL" data-ng-bind="localeService.getLocaleValue('VERIFY_EMAIL')" class="ng-binding">Confirm Email</label>
<span class="animated fadeIn validation-icon" data-ng-class="{
'icon-close' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.FAILED,
'icon-checkmark' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.SUCCESS,
'invalid-icon' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.FAILED,
'valid-icon' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.SUCCESS,
'icon-validated-lock' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.LOCKED}"></span>
<input type="text" class="span6 ng-pristine ng-valid" name="VERIFY_EMAIL" id="VERIFY_EMAIL" placeholder="email@address.com" data-ng-model="model.Fields.VERIFY_EMAIL" data-ng-class="{'invalid' : pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.FAILED}" data-ng-change="enableContinueButton()" maxlength="100">

<div class="has-error animated fadeInDown ng-binding ng-hide" data-ng-show="pageValidator.fields.VERIFY_EMAIL.status == fieldStatus.FAILED" data-ng-bind="pageValidator.fields.VERIFY_EMAIL.errorMsg"></div>


</div></div></div>


   <div class="well primary clearfix">
      <div class="activated-device checkbox-row-top row">
        <div class="col-sm-9 col-xs-8 toggle-text inline-block no-float">
          <p>Are you a Sprint representative filing a claim on a customer&rsquo;s behalf?</p>
        </div>
        <div class="toggle-container inline-block no-float">
          <div id="store-toggle" class="toggle">
            <input id="store-on" class="toggle toggle-left" name="store" value="yes" type="radio">
            <label for="store-on">Yes</label>
            <input id="store-off" class="toggle toggle-right" name="store" value="no" type="radio" checked>
            <label for="store-off">No</label>
          </div>
        </div>
        <div id="sprint-store" class="clearfix col-sm-12" style="display:none;">
          <div class="active-device checkbox-well">
              <div class="row">
              <div class="col-sm-4 col-xs-4 accessory-list-title row-height-offset">
                <p class="font-medium">Sprint Store Use Only</p>
              </div>
              <div class="col-sm-4 col-xs-4">
						<label for="store-id">Store ID/ASC ID</label>
						<input type="text" name="store-id" placeholder="A9999" id="store-id" tabindex="45" maxlength="5" />
              </div>
              <div class="col-sm-4 col-xs-4">
						<label for="store-id">Store/ASC Name</label>
						<input type="text" name="store-id" placeholder="" id="store-id" tabindex="45" />
              </div>              
            </div>
          </div>
        </div>
      </div>
      </div>
</div>
</div>
<a id="continue" class="btn btn-primary btn-large btn-disabled btn-continue step1-confirm-continue" tabindex="45">Continue</a>
</article>

<!-- Confirm Identity -->

<article class="step1-confirm" style="display: none;">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="page-title text-center">
				<h1>Thanks! Can you confirm your account?</h1>
				<h2>Answer either of the following questions to verify</h2>
			</div>
			<div class="well confirm-account-well">
				<div class="row">
					<div class="col-sm-6 confirm-question">
						<label for="confirm-option-1">PIN number</label>  
						<a id="popoverData" href="#?" class="input-help" data-html="true" data-content="Lorem Ipsum dolor de, Lorem Ipsum dolor de Lorem Ipsum dolor deLorem Ipsum dolor deLorem Ipsum dolor de" rel="popover" data-placement="top" data-original-title="PIN number" data-trigger="click">what is my pin?</a> 
						<input type="text" name="confirm-option-1" placeholder="...." id="confirm-option-1" tabindex="45" />
					</div>
					<div class="or row-height-offset text-center">
						<span>OR</span>
					</div>
					<div class="col-sm-6 pull-right confirm-question">
						<label for="confirm-option-2">Model of your first car</label>  
						<input type="text" name="confirm-option-2" placeholder="Answer" id="confirm-option-2" tabindex="50" />
					</div>			
				</div>
			</div>
			<a id="confirm-continue" class="btn btn-primary btn-large btn-disabled btn-continue step-continue" tabindex="75">Continue</a>
		</div>
	</div>
</article>

<script type="text/javascript">
	$(document).ready(function(){
		$('.step1-confirm-continue').on('click', function(){
			$('.step1info').fadeOut('fast');
			$('.step1-confirm').fadeIn('slow');
		});
		$('#confirm-continue').on('click', function(){
			$('.step-container').addClass('fadeOut');
		});
		$('.confirm-question input').keyup(function() {
			$('#confirm-continue').removeClass('btn-disabled').addClass('btn-active');
		});
	});
	$(document).keyup(function() {
		if($('#zip-code').val() == $('#zip-code')[0].defaultValue){
			var formval_err = true;
		}
		if(formval_err != true){
			$('#continue').removeClass('btn-disabled').addClass('btn-active');
		} else { 
			$('#continue').removeClass('btn-active').addClass('btn-disabled');
		}
	});

	  $('#store-toggle input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#sprint-store').slideFadeToggle();
    }
    else {
      $('#sprint-store').slideFadeToggle();
    }
  });
</script>
