<div class="loading text-center animated fadeIn">
	<div class="spinner-wrapper animated fadeInDown">
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
		<p>Loading</p>
	</div>
</div>
<div id="successpage">
	<div class="page-title">
		<h1>Success!</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-1">
			<p>Your claim has been submitted. We'll send you a confirmation email to user@email.com shortly.</p>
			<p>Once your claim has been processed, you can expect your device to arrive on [expected delivery date].</p>
			<p>For your reference, the phone number associated with this claim is <strong>555-555-5555</strong> and your Claim ID is <strong>123456789</strong>.</p>
			<p>Did this process exceed you expectations? Please <a href="#" class="underline">click here</a> to tell us about it. We hope that you will recommend us to your friends and family.</p>
		<div class="row">	
			<div class="col-sm-10">
				<div class="well primary">
					<h4>Shipping Address</h4>
					<p>
						12345 Haight Street<br />
						San Francisco, CA 94117
					</p>
					<h4>Billing Summary</h4>
					<table class="table table-rounded table-light-bg">
						<tr><td>Insurance Deductible</td><td>$169.00</td></tr>
						<tr><td>Shipping Fee</td><td>$0.00</td></tr>
						<tr><td class="font-medium">Total Fee</td><td class="font-medium">$169.00</td></tr>
					</table>
					<h4>Payment Details</h4>
					<p>VISA card ending in 1234</p>
          <div class="animated fadeInDown alert alert-inline">
            <span aria-hidden="true" class="icon-megaphone icon"></span>
            <div class="alert-content">
              <p>
                If your device is shipped on a Saturday, shipping charges  will appear on you Sprint account (not your credit card account).
              </p>
            </div>
          </div>
				</div>
			</div>
		</div>	
			<p class="help-inline"><a id="printsuccesspage" class="underline"><i class="icon-print carrier-color"></i>print this page</a></p>
			<!-- <p><a id="feedback" class="btn has-icon"><i class="icon-megaphone"></i>Tell us your thoughts</a></p> -->

			<p class="upsell-offer"><a data-target="#upsell-modal" data-toggle="modal">Upsell Modal Example</a></p>			
		</div>
		<div class="col-sm-4">
			<div class="well primary">
				<div class="well secondary inner-top text-center">
					<h4 class="text-center strong">Your shipment will include:</h4>
					<img src="../images/phone_img.png" />
				</div>
				<h4 class="strong">Blackberry Bold XTC</h4>
				<ul>
					<li>a new belt clip</li>
					<li>home charger</li>
				</ul>
			</div>
		</div>
	</div>
</div>
