<!-- This is confusing, so this is the page with ONE phone option -->
<div class="loading text-center animated fadeIn">
  <div class="spinner-wrapper animated fadeInDown">
    <h1>Where should it go?</h1>
    <h2>Tell us where to send your replacement</h2>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p>Loading</p>
  </div>
</div>
<div class="page-title">
  <!--h1>We&rsquo;ll replace your</h1-->
  <h1>Sorry, your device is currently out of stock</h1>
</div>
<div class="row device-container">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <h4>Apple iPhone 4s Black 16GB</h4>
    <img src="../images/phone_img.png">
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p class="shipment-contents text-center">It will ship in 3-4 business days</p>
    <div class="well primary clearfix replacement">
      <div class="activated-device checkbox-row-top row">
        <div class="col-sm-9 col-xs-8 toggle-text inline-block no-float">
          <p>Would you like to place your device on backorder?</p>
        </div>
        <div class="toggle-container inline-block no-float">
          <div class="toggle backorder-toggle">
            <input id="toggle-1-on" class="toggle toggle-left" name="toggle-1" value="yes" type="radio">
            <label for="toggle-1-on">Yes</label>
            <input id="toggle-1-off" class="toggle toggle-right" name="toggle-1" value="no" type="radio">
            <label for="toggle-1-off">No</label>
          </div>
        </div>
        <div id="backorder" class="clearfix col-sm-12" style="display: none;">
          <div class="active-device checkbox-well">
            <p class="text-small">Please note that by selecting  Yes, your current device or any temporary device on this account will be deactivated and you will not be able to use it once you replacement device has shipped.</p>
          </div>
        </div>
      </div>
      <div class="second-step" style="display: none;">
        <div class="affected-accessory checkbox-row row clearfix">
          <div class="col-sm-9 col-xs-8 toggle-text inline-block no-float">
            <p class="strong">Were other accessories affected?</p>
          </div>
          <div class="toggle-container inline-block no-float">
            <div id="accessory-toggle" class="toggle">
              <input id="toggle-2-on" class="toggle toggle-left" name="toggle-2" value="false" type="radio">
              <label for="toggle-2-on">Yes</label>
              <input id="toggle-2-off" class="toggle toggle-right" name="toggle-2" value="true" type="radio">
              <label for="toggle-2-off">No</label>
            </div>
          </div>
          <div id="additional-accessories" class="clearfix col-sm-12" style="display: none;">
            <div class="checkbox-well">
              <div class="row">
              <div class="col-sm-7 col-xs-6 accessory-list-title">
                <p>Check all that apply:</p>
              </div>
              <div class="col-sm-5 col-xs-6 accessory-list">
                <cheekybox
                  id="carcharger-affected"
                  class="col-sm-12 clearfix"
                  label="Car Charger"
                  targetid=""
                  size="small"
                  createinput="no"
                />
                <cheekybox
                  id="earpiece-affected"
                  class="col-sm-12 clearfix"
                  label="Ear Piece"
                  targetid=""
                  size="small"
                  createinput="no"
                />
                <cheekybox
                  id="earpiece-affected"
                  class="col-sm-12 clearfix"
                  label="Ear Piece"
                  targetid=""
                  size="small"
                  createinput="no"
                />
                <cheekybox
                  id="earpiece-affected"
                  class="col-sm-12 clearfix"
                  label="Ear Piece"
                  targetid=""
                  size="small"
                  createinput="no"
                />
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="activated-device checkbox-row row">
          <div class="col-sm-9 col-xs-8 toggle-text inline-block no-float">
            <p>Would you like us to send you an activated device so it is ready for use when you receive it?</p>
          </div>
          <div class="toggle-container inline-block no-float">
            <div class="toggle">
              <input id="toggle-3-on" class="toggle toggle-left" name="toggle-3" value="yes" type="radio">
              <label for="toggle-3-on">Yes</label>
              <input id="toggle-3-off" class="toggle toggle-right" name="toggle-3" value="no" type="radio">
              <label for="toggle-3-off">No</label>
            </div>
          </div>
          <div id="activated-device" class="clearfix checkbox-well col-sm-12" style="display: none;">
            <div class="active-device col-sm-12">
              <p class="text-small">Please note that by selecting  Yes, your current device or any temporary device on this account will be deactivated and you will not be able to use it once you replacement device has shipped.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a type="button" id="validateinputs" class="btn btn-primary btn-large btn-continue btn-active btn-disabled step-continue">Continue</a>   

<div class="row load-steps">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      <li>
        <a href="#?" class="load-step-3b">Load Like for Like Replacement</a>
      </li>
      <li>
        <a href="#?" class="load-step-3c">Load Non-Like for Like Replaceent</a>
      </li>
      <li>
        <a href="#?" class="load-step-3-unlock">Load Apple Unlock</a>
      </li>
      <li>
        <a href="#?" class="load-step-3-nlp">Load NLP</a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $('.load-step-3b').on('click', function(){
    $('.claimstep[stepnum="3"]').load('../views/steps_inc/step3b.html');
  });
  $('.load-step-3c').on('click', function(){
    $('.claimstep[stepnum="3"]').load('../views/steps_inc/step3c.html');
  });
  $('.load-step-3-nlp').on('click', function(){
    $('.claimstep[stepnum="3"]').load('../views/steps_inc/step3e.html');
  });
  $('.load-step-3-unlock').on('click', function(){
    $('.claimstep[stepnum="3"]').load('../views/steps_inc/step3d.html');
  });
  $('.activated-device .radio input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#activated-device').slideDown();
    }
    else {
      $('#activated-device').slideUp();
    }
  });

  $('.backorder-toggle input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#backorder').slideFadeToggle();
    }
    else {
      $('#backorder').slideFadeToggle();
    }
  });

  $('.backorder-toggle input').on('click', function(){
    $('.activated-device').addClass('checkbox-row');
    $('.second-step').slideDown();
  });

  $('#accessory-toggle input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#additional-accessories').slideFadeToggle();
    }
    else {
      $('#additional-accessories').slideFadeToggle();
    }
  });

  $('.compare-features').on('click', function(e) {
    e.preventDefault();
    $(this).hide()
    $('.device-container').slideFadeToggle();
    $(".feature-table" ).slideFadeToggle();
    $('.hide-features').show();
    $('.stock-ship-info').hide();
  });
  $('.hide-features').on('click', function(e) {
    $(this).hide();
    $(".feature-table" ).slideFadeToggle();
    $('.device-container').slideFadeToggle();
    $('.compare-features').show();
    $('.stock-ship-info').show();
  }); 
</script>
