<!-- This is confusing, so this is the page with TWO phone options -->

<div class="loading text-center animated fadeIn">
  <div class="spinner-wrapper animated fadeInDown">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p>Loading</p>
  </div>
</div>

<div class="page-title">
  <h1>Sorry, your device is currently out of stock</h1>
  <h2>We&rsquo;ll replace your</h2>
</div>
<div class="row feature-table" style="display: none;">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-bordered table-striped table-compare-features">
      <thead>
        <tr>
          <th class="bordered">Model</th>
          <th><img class="compare-img" src="../images/ph2.jpg" /> Blackberry X10</th>
          <th><img class="compare-img" src="../images/ph3.jpg" /> BlackBerry X11</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bordered">Weight</td>
          <td>4.8 oz</td>
          <td>4.9 oz</td>
        </tr>
        <tr>
          <td class="bordered" rowspan="3">Dimensions</td>
          <td>height: 4.87 in</td>
          <td>height: 4.87 in</td>
        </tr>
        <tr>
          <td>depth: 0.30 in</td>
          <td>width: 2.31 in</td>
        </tr>
        <tr>
          <td>depth: 0.30 in</td>
          <td>depth: 0.30 in</td>
        </tr>
        <tr>
          <td class="bordered">Display Size</td>
          <td>Display Size</td>
          <td>Display Size</td>
        </tr>
        <tr>
          <td class="bordered">Camera</td>
          <td>12 megapixel</td>
          <td>14 megapixel</td>
        </tr>
        <tr>
          <td class="bordered">Battery Life</td>
          <td>8 Hours</td>
          <td>10 Hours</td>
        </tr>
        <tr>
          <td class="bordered">WiFi</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="bordered">Capacity</td>
          <td>32 GB</td>
          <td>64 GB</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row device-container">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <div class="row">
      <div class="col-sm-5">
        <h4>Apple iPhone 4s Black 16GB</h4>
        <img src="../images/phone_img.png">
      </div>
      <div class="col-sm-2 arrow-container">
        <span class="arrow-body">with a
          <span class="arrow-right"></span>
        </span>
      </div>
      <div class="col-sm-5">
        <h4>Samsung Galaxy S4</h4>
        <img src="../images/phone_img2.png">
      </div>
    </div>

  </div>
</div>
<div class="row text-center">
  <p class="text-small compare-features"><a class="underline" href="#?">compare features</a></p>
  <p class="text-small hide-features" style="display: none;"><a class="underline" href="#?">hide features</a></p>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p class="shipment-contents text-center">We will be sending you a Belt Clip and a Home Charger.</p>

    <div class="well primary clearfix">
      <div class="activated-device checkbox-row checkbox-row-top row">
        <div class="col-sm-8">
          <p>Would you like us to send you an activated device so it is ready for use when you receive it?</p>
        </div>
        <div class="col-sm-2 radio">
          <input name="phone-activation" id='active-yes' value="yes" type="radio" hidden />
          <label for='active-yes'>Yes</label>
        </div>
        <div class="col-sm-2 radio">
          <input name="phone-activation" id='active-no' value="no" type="radio" hidden checked />
          <label for='active-no'>No</label>
        </div>
        <div id="activated-device" class="clearfix checkbox-well col-sm-12" style="display: none;">
          <div class="active-device col-sm-12">
            <p class="text-small">Please note that by selecting  Yes, your current device or any temporary device on this account will be deactivated and you will not be able to use it once you replacement device has shipped.</p>
          </div>
        </div>
      </div>
      <div class="affected-accessory checkbox-row row clearfix">
        <p class="col-sm-8 strong">Were other accessories affected?</p>
        <div class="col-sm-2 radio">
          <input name="accessories-affected" id='accessories-yes' value="yes" type="radio" hidden />
          <label for='accessories-yes'>Yes</label>
        </div>
        <div class="col-sm-2 radio">
          <input name="accessories-affected" id='accessories-no' value="no" type="radio" checked hidden />
          <label for='accessories-no'>No</label>
        </div>
        <div id="additional-accessories" class="clearfix checkbox-well col-sm-12" style="display: none;">
          <div class="col-sm-8">
            <p>Check all that apply:</p>
          </div>
          <div class="col-sm-4">
            <cheekybox
              id="carcharger-affected"
              class="col-sm-12 clearfix"
              label="Car Charger"
              targetid=""
              size="small"
              createinput="no"
            />
            <cheekybox
              id="earpiece-affected"
              class="col-sm-12 clearfix"
              label="Ear Piece"
              targetid=""
              size="small"
              createinput="no"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<a type="button" id="validateinputs" class="btn btn-primary btn-large btn-continue btn-active step-continue">Continue</a>   

<!----- Backorder modal ? ---->

<div id="backorder-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="claimcreatedlabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="claimcreatedlabel">Place Device on Backorder</h2>
  </div>
  <div class="modal-body">
    <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
    <div class="text-center">
      <button class="span4 btn btn-primary btn-active step-continue" style="margin-left: 0;" data-dismiss="modal">Place on Backorder</button> 
    </div>
    <div class="text-center">
      <button id="proceed" class="btn exit span4" style="margin-left: 0; margin-bottom: 40px;">Choose Another Device</button>
    </div>
  </div>
    <!-- <button class="btn btn-primary btn-active step-continue" id="step1submit">Continue</button> -->
</div>


<script type="text/javascript">

  $('.activated-device .radio input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#activated-device').slideDown();
    }
    else {
      $('#activated-device').slideUp();
    }
  });

  $('.affected-accessory .radio input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#additional-accessories').slideDown();
    }
    else {
      $('#additional-accessories').slideUp();
    }
  });

  $('.compare-features').on('click', function(e) {
    e.preventDefault();
    $(this).hide()
    $('.device-container').slideFadeToggle();
    $(".feature-table" ).slideFadeToggle();
    $('.hide-features').show();
    $('.stock-ship-info').hide();
  });
  $('.hide-features').on('click', function(e) {
    $(this).hide();
    $(".feature-table" ).slideFadeToggle();
    $('.device-container').slideFadeToggle();
    $('.compare-features').show();
    $('.stock-ship-info').show();
  }); 
</script>
