<div class="loading text-center animated fadeIn">
  <div class="spinner-wrapper animated fadeInDown">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p>Loading</p>
  </div>
</div>

<!-- Initial Information block -->

<article class="id-splash">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="id-wrap text-center">
        <i class="icon-question-device large peekover"></i>
        <h1>Your security is important to us.</h1>
        <h3>To verify your identity and protect your account against fraudulent use, we need to ask just a few questions.</h3>
        <h3>These are multiple choice questions taken from public records and not from your account.</h3>
        <a id="continue" class="btn btn-primary btn-large btn-continue id-intro" tabindex="45">I&rsquo;m ready. Let&rsquo;s go!</a>
      </div>
    </div>
  </div>  
</article>

<article class="id-dob" style="display: none;">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="id-wrap text-center">
        <i class="icon-question-device large peekover"></i>
        <h1>Your security is important to us.</h1>
        <h3>To verify your identity and protect your account against fraudulent use, we need to ask just a few questions.</h3>
        <h3>These are multiple choice questions taken from public records and not from your account.</h3>
        <div class="row dob-form">
          <div class="col-sm-8 col-sm-offset-2" id="s1fname">
            <label for="incident-date">Date of Birth</label>
            <div class="input-append date" id="datepicker">
              <input size="16" name="incident-date" id="incident-date" type="text" readonly="readonly" placeholder="mm/dd/yyyy">
              <span class="add-on"><i class="icon-cal"></i></span>
            </div>
            <span class="err has-error"></span>
            <label for="first-name">SSN Last 4 Digits</label>
            <input type="text" name="first-name" placeholder="First name" id="first-name" class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." tabindex="10" />
            <span class="err has-error"></span>
          </div>
        </div>
        <a id="continue" class="btn btn-primary btn-large btn-continue id-intro" tabindex="45">I&rsquo;m ready. Let&rsquo;s go!</a>
      </div>
    </div>
  </div>  
</article>

<article class="step1info" style="display: none;">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-title">
        <h1>We have a few questions first to confirm your identity</h1>
        <h2>Please note that you must answer these questions to continue your claim</h2>
      </div>
      <div class="question-wrap">
        <h3>What team nickname is associated with the college you attended?</h3>
        <ul>
          <li class="radio question-row">
            <input id='option1' name="group1" value="option1" hidden type="radio">
            <label for='option1'>Contact with liquid</label>
          </li>
          <li class="radio question-row">
            <input id='option2' name="group1" value="option2" hidden type="radio">
            <label for='option2'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel laoreet nunc, at interdum erat. Pellentesque varius, metus vel elementum euismod, enim leo finibus felis</label>
          </li>
          <li class="radio question-row">
            <input id='option3' name="group1" value="option3" hidden type="radio">
            <label for='option3'>Contact with liquid</label>
          </li>
          <li class="radio question-row">
            <input id='option4' name="group1" value="option4" hidden type="radio">
            <label for='option4'>Contact with liquid</label>
          </li>
        </ul>

        <a id="continue" class="btn btn-primary btn-large btn-disabled btn-continue step1-confirm-continue" tabindex="45">Continue</a>
      </div>
    </div>
  </div>
</article>

<script type="text/javascript">
  $(document).ready(function(){
    $('.id-intro').on('click', function() {
      $('.id-splash').fadeOut();
      $('.step1info').delay('300').fadeIn();
    });

    $('.question-row input').on('click', function() {
      $('.btn-continue').removeClass('btn-disabled').addClass('btn-active');
    });
  });
</script>
