<div class="loading text-center animated fadeIn">
	<div class="spinner-wrapper animated fadeInDown">
    <h1>Cheaper over time</h1>
    <h2>Long term customers enjoy lower deductibles</h2>
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
		<p>Loading</p>
	</div>
</div>
<article id="affected-device">
	<div class="page-title">
		<h1>Our records indicate your affected device is a &hellip;</h1>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1 text-center">
			<div class="well primary affected-device">
				<div class="well secondary inner-top text-center">
					<h4>Blackberry Bold XTC</h4>
					<img src="../images/phone_img-sm.png" >
					<p class="text-small">Deductible Amount: 
						<span class="font-medium">$169.00</span>
					</p>
				</div>
				<p class="text-small">If this is not the device that was damaged, please choose another:</p>
				<select placeholder="Please select a device" class="device-selection-dropdown">
				</select>
			</div>
		</div>
	  <div class="col-sm-5 col-sm-offset-1 row-form">
			<label for="incident-date">The date it happened was...</label>
			<div class="input-append date" id="datepicker">
				<input size="16" name="incident-date" id="incident-date" type="text" readonly="readonly" placeholder="Select the date of the incident">
				<span class="add-on"><i class="icon-cal"></i></span>
			</div>
		</div>
	  <div class="col-sm-5 col-sm-offset-1 row-form">
			<label for="incident-date">What happened?</label>
			<select placeholder="Please select an incident type">
				<option value="">Please select</option>
				<option value="4">Item 1</option>
				<option value="1">Item 2</option>
				<option value="damage">Physical Damage</option>
				<option value="3">Item 3</option>
				<option value="5">Item 4</option>
				<option value="5">Item 5</option>
				<option value="5">Item 6</option>
			</select>
		</div>
	  <div class="col-sm-5 col-sm-offset-1 row-form physical-damage-type" style="display: none;">
			<label for="incident-date">Physical Damage Type</label>
			<select placeholder="Please select a physical damage type">
  			<option value="">Please select</option>
  			<option value="4">Item 1</option>
  			<option value="1">Item 2</option>
  			<option value="damage">Physical Damage</option>
  			<option value="3">Item 3</option>
  			<option value="5">Item 4</option>
  			<option value="5">Item 5</option>
  			<option value="5">Item 6</option>
			</select>
		</div>
		<div class="col-sm-5 col-sm-offset-1 row-form">
			<label for="incident-description">In a few words, please tell us what happened</label> 
	    <textarea class="incident-description" id="incident-description" name="incident-description" maxchars="250" initial_val="Please describe your incident in 250 characters or less"></textarea>
	    <p id="charcount" class="pull-right"></p>
		</div>
	</div>
	<a id="step2submit" class="btn btn-primary btn-large btn-active btn-continue step-continue btn-disabled">Continue</a>   
</article>

<script type="text/javascript">
	$(function() {
		$("#peril").click(function(){
			$("#device-questions").hide();
			$("#affected-device").fadeIn();
		});
	});
	$(document).ready(function(){
		$('select').selectize({
			onChange: function() {
			 $('.physical-damage-type').fadeIn();
			}
		});
		$('.device-selection-dropdown').selectize({
			create: true,
			maxItems: 1,
			sortField: 'text',
	    valueField: 'name',
	    labelField: 'img',
	    placeholder: 'Please select a device',
	    options: [
	        {img: 'phone_img.png', name: 'iPhone 6'},
	        {img: 'phone_img.png', name: 'Samsung Galaxy'},
	        {img: 'phone_img.png', name: 'iPhone 5'}
	    ],
	    render: {
	        item: function(item, escape) {
	            return '<div>' +
	                (item.name ? '<span class="dropdown-model">' + escape(item.name) + '</span>' : '') +
	            '</div>';
	        },
	        option: function(item, escape) {
							return '<div>' +
	                (item.img ? '<img class="dropdown-img" src="../images/' + escape(item.img) + '"/>' : '') +
	                (item.name ? '<span class="dropdown-model">' + escape(item.name) + '</span>' : '') +
	            '</div>';
	        }
	    }
		});
		var maxchars = $('#incident-description').attr('maxchars');
		$('#charcount').text(maxchars + '/' + maxchars);

		$('#incident-description').keyup(function(){
			var typedchars = $(this).val().length;
			var remainder = maxchars - typedchars;
			if(remainder < 0){
				$('#charcount').html('<span class="err">' + remainder + '</span>' + '/' + maxchars);
			}else{
				$('#charcount').text(remainder + '/' + maxchars);
			}
		});			
	});
</script> 
<script type="text/javascript">
	$(document).ready(function() {
		$('input[type="radio"]').click(function(){
			if($('input[type="radio"]').is(':checked')){
				$('#peril').removeClass('btn-disabled');
			} else {
				$('#peril').addClass('btn-disabled');
			}
		});

		//datepicker functions
		$(function(){
			$('#datepicker').datepicker({
		    viewMode: "days", 
				minViewMode: "days",
		    endDate: '+0d',
		    autoclose: true,
			});
			$('#datepicker').datepicker().on('show', function(ev){
				$(this).next('.err').remove();
			});
			$('#datepicker').datepicker().on('changeDate', function(ev){
				$('#datepicker').datepicker();
				var selected_date = Math.round(new Date($('#incident-date').val()).getTime() / 1000);
				var date_today = Math.round(new Date().getTime() / 1000);
				if(selected_date < date_today){
					$(this).next('.err').hide();
				}else{
					$(this).next('.err').remove();
					//$('#datepicker').append('<div class="err">You cannot choose a date in the future.</div>');
					$(this).find('input').val('Select the date of the incident');
				}
			});
		});

	});
</script>

<script type="text/javascript">
		$('.selectize-dropdown .selectize-dropdown-content').on('click', function(){
			alert('test');
		});

	$(document).keyup(function() {
		if($('#incident-description').val() == $('#incident-description')[0].defaultValue){
			var formval_err = true;
		}
		if(formval_err != true){
			$('#step2submit').removeClass('btn-disabled').addClass('btn-active');
		} else {
			$('#step2submit').removeClass('btn-active').addClass('btn-disabled');
		}
	});		
</script>
