<div class="loading text-center animated fadeIn">
	<div class="spinner-wrapper animated fadeInDown">
    <h1>Almost there</h1>
    <h2>Let&rsquo;s wrap this up</h2>
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
		<p>Loading</p>
	</div>
</div>

<!-- Shipping Overview -->

<article class="view-shipping">
	<div class="page-title">
		<h1>Shipping Information</h1>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<table class="table table-rounded table-bordered claim-details">
				<tr>
					<td class="col-sm-5 col-xs-4">
						Shipping Address	
					</td>
					<td>
						<p>
							Bob Bobson<br />
							123 Haight Street<br />
							San Francisco, CA 94117
						</p>
						<p><a id="change-shipping" class="underline">change shipping address</a></p>
					</td>
				</tr>
				<tr>
					<td>
						Shipping Method	
					</td>
					<td>
						<div class="row">
              <div class="col-sm-12">
                <span class="shipping-method">Next Day</span>
                <span class="positive-message">Free</span>
              </div>
              <!-- <div class="col-sm-9">
								<select placeholder="Next Day">
										<option value="1">Second Day</option>
										<option value="2">Next Day</option>
								</select>
							</div>
							<div class="col-sm-1 row-height-offset no-label">
								<span>Free</span>
							</div> -->
						</div>
					</td>
				</tr>
				<tr>
					<td>Expected Delivery Date</td>
					<td>
						<p class="strong">Wednesday, August 21st, 2013</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="text-small text-center">A signature will be required upon delivery.</p>
		</div>
	</div>
	<a id="shipping-confirm" class="btn btn-primary btn-large btn-continue btn-active">Continue</a>
	<a data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="btn btn-exit">Exit</a>
</article>

<!-- Edit Shipping form -->

<article class="edit-shipping" style="display:none;">
	<div class="row">
		<h1 class="page-title">Shipping Address</h1>
		<div class="col-sm-10 col-sm-offset-1">
			<div class="business-account">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-6 clearfix">
						<p>Is this a business address</p>
					</div>
	      	<div class="col-sm-1 radio">
			      <input id="Yes4" class="s4-business-account" name="s4-account-type-select" value="yes" hidden type="radio" stepid="s4">
			      <label for="Yes4">Yes</label>
				  </div>
				  <div class="col-sm-1 radio">
			      <input id="No4" class="s4-business-account" name="s4-account-type-select" value="no" hidden type="radio" stepid="s4" checked >
			      <label for="No4">No</label>
	      	</div>
				</div>
			</div>
			<div class="row row-form s4-business-account-fields" style="display:none;">
				<div class="col-sm-4" id="s4bizname">
	        <label for="first-name">Business Name</label>
	        <input type="text" name="business-name" placeholder="Business name" id="first-name" class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		    </div>
				<div class="col-sm-4" id="s4fname">
	        <label for="first-name">Your First Name</label>
	        <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" />
		    </div>

        <div class="col-sm-4" id="s4lname">
	        <label for="last-name">Your Last Name</label>			        
	        <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
        </div>
			</div>
			<div class="row row-form s4-personal-account-fields">
				<div class="col-sm-6" id="s4fname">
	        <label for="first-name">Your First Name</label>
	        <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" />
		    </div>

        <div class="col-sm-6" id="s4lname">
	        <label for="last-name">Your Last Name</label>			        
	        <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
        </div>
			</div>
			<div class="row row-form">
				<div class="col-sm-6">
					<label for="address-line-1">Street Address</label>			        
					<input type="text" name="address-line-1" placeholder="123 Elm Street" id="address-line-1"  />
					<p class="help-block">We cannot ship to P.O. boxes/Military addresses.</p>
				</div>
				<div class="col-sm-6">
					<label for="address-line-2">Apartment, Suite, Attn <span class="optional">(Optional)</span></label>			        
					<input type="text" name="address-line-2" placeholder="Apt. 123" id="address-line-2" />
				</div>			
			</div>
			<div class="row row-form">
				<div class="col-sm-2">
					<label for="zip-code">Zip/Postal Code</label>			        
					<input type="text" name="zip-code" placeholder="Zip/Postal Code" id="zip-code" />
				</div>
				<div class="col-sm-4">
					<label for="city">City</label>			        
					<input type="text" name="city" placeholder="City" id="city" />
				</div>
				<div class="col-sm-3">
					<label>State</label>
					<select placeholder="State">
							<option value="1">AL</option>
							<option value="2">AK</option>
							<option value="3">AR</option>
							<option value="4">AZ</option>
							<option value="5">CA</option>
							<option value="6">ALA</option>
							<option value="7">AKA</option>
							<option value="8">ARA</option>
							<option value="9">AZA</option>
							<option value="10">CAA</option>
							<option value="11">ALAA</option>
							<option value="12">AKAA</option>
							<option value="13">ARAA</option>
							<option value="14">AZAA</option>
							<option value="15">CAAA</option>
					</select>                     
				</div>
				<div class="col-sm-3">
					<label>Country</label>
					<select placeholder="Country">
							<option value="1">US</option>
							<option value="2">Canada</option>
					</select>                        
				</div>
			</div>
		</div>
	</div>
	<a id="update-shipping" class="btn btn-primary btn-continue btn-large">Update Shipping Address</a>   	
</article>

<!-- Payment info form -->

<article class="payment-information" style="display:none;">
	<h1 class="page-title">Payment Information</h1>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<table class="table table-rounded table-bordered claim-details">
				<tr>
					<td class="col-sm-3 col-xs-3">
						Fee Summary	
					</td>
					<td>
						<table class="table table-nested table-border-bottom">
							<tr><td>Insurance Deductible</td><td>$169.00</td></tr>
							<tr class="middle-tr"><td>Shipping Fee</td><td>FREE</td></tr>
							<tr><th>Total Fees</th><th>$169.00</th></tr>
						</table>
            <div class="animated fadeInDown alert alert-inline" style="display: none;">
              <span aria-hidden="true" class="icon-megaphone icon"></span>
              <div class="alert-content">
                <p>
					If your device is shipped on a Saturday, shipping charges  will appear on you Sprint account (not your credit card account).
                </p>
              </div>
            </div>
					</td>
				</tr>
				<tr>
					<td>
						Payment Method	
					</td>
					<td>
				    <div class="row row-form">
				      <div class="col-sm-6 radio">
				        <input name="test" id='test-yes' value="yes" type="radio" hidden />
				        <label for='test-yes'>Credit Card</label>
				      </div>
				      <div class="col-sm-6 radio">
				        <input name="test" id='test-no' value="no" type="radio" hidden checked />
				        <label for='test-no'>Sprint Wireless Bill</label>
				      </div>
				    </div>
						<!-- Credit Payment Content -->
						<div class="cc-payment-content" style="display: none;">
							<div class="row row-form">
						    <div class="col-sm-6">
				          <label for="first-name-card">First Name</label>
				          <input type="text" name="first-name-card" placeholder="Last Name" id="name-card" class="required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
					        </div>
						    <div class="col-sm-6">
				          <label for="last-name-card">Last Name</label>
				          <input type="text" name="last-name-card" placeholder="First Name" id="name-card" class="required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
					      </div>
						  </div>
							<div class="row row-form">		    
								<div class="col-sm-12">
				          <label for="card-number">Card Number</label>			        
				          <input type="tel" name="card-number" placeholder="0000-0000-0000" max-length="12" id="card-number" class="cc-input required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
						    </div>
								<div id="ccbox">
									Credit card icons.
								</div>	
						  </div> 
						  <div class="row row-form"> 
								<div class="col-sm-6">
								<label>Expiration Date</label>
								<select placeholder="State">
										<option value="1">AL</option>
										<option value="2">AK</option>
										<option value="3">AR</option>
										<option value="4">AZ</option>
										<option value="5">CA</option>
										<option value="6">ALA</option>
										<option value="7">AKA</option>
										<option value="8">ARA</option>
										<option value="9">AZA</option>
										<option value="10">CAA</option>
										<option value="11">ALAA</option>
										<option value="12">AKAA</option>
										<option value="13">ARAA</option>
										<option value="14">AZAA</option>
										<option value="15">CAAA</option>
								</select>                        
								</div>
								<div class="col-sm-6">
									<select placeholder="Year" class="no-label">
											<option value="1">2001</option>
											<option value="2">2002</option>
											<option value="3">2003</option>
											<option value="4">2004</option>
											<option value="5">2005</option>
									</select>                        
								</div>
							</div>
							<div class="row row-form">		    
						    <div class="col-sm-6 col-xs-10">
					        <label for="card-number">Security Code</label>
					        <input type="text" name="cvv" placeholder="0000" maxlength="4" id="cvv" class="required stored" errmsg="" />
					      </div>
									<a id="popoverData" class="help-tooltip" href="#" data-html="true" data-content="On Mastercard and Visa, the Security Code is the 3 digit number found on the back of your card just after your card number.  On American Express, it is found on the front of the card just to the right and above your card number." rel="popover" data-placement="right" data-original-title="Security Code" data-trigger="hover">
					        <span aria-hidden="true" class="icon-tooltip-question help-icon"></span>
									</a>
						  </div> 
							<div class="row row-form">		    
						    <div class="col-sm-6">
					        <label for="zip-code">Billing Zip Code</label>
					        <input type="text" name="zip-code" placeholder="Zip/Postal Code" maxlength="5" id="zip-code" class="required stored" />
					      </div>
						  </div> 
						</div>
						<!-- eCheck Payment Content -->
						<div class="wireless-bill-payment">
							<div class="row">
								<div class="col-sm-12">
									<p class="text-small">The $150 non-deductible will be charged to your monthly Sprint Wireless Bill.</p>
								</div>
						  </div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<a type="button" id="step4submit" class="btn btn-primary btn-continue btn-large btn-active step-continue">Continue</a>
	<a data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="btn btn-exit">Exit</a>
</article>

<script>
	$(document).ready(function () {
		$('#popoverData').popover();
		$('select').selectize();

	  $('.radio input.s4-business-account').click(function(){
	    if($(this).val() == "yes"){ 
	      $('.s4-personal-account-fields').slideFadeToggle();
	      $('.s4-business-account-fields').slideFadeToggle();
	    }
	    if($(this).val() == "no"){ 
	      $('.s4-personal-account-fields').slideFadeToggle();
	      $('.s4-business-account-fields').slideFadeToggle();
	    }
	  });

	  $('.radio #test-yes').click(function(){
        $('.alert').show();
	      $('.wireless-bill-payment').fadeOut();
	      $('.cc-payment-content').fadeIn();
	   });
	  $('.radio #test-no').click(function(){
	      $('.cc-payment-content').fadeOut();
	      $('.wireless-bill-payment').fadeIn();
        $('.alert').slideFadeToggle();
	   });

		$('.cc-input').keyup(function() {
			if($(this).val() == 4){
				$('#ccbox').css('background-position', '0 -20px');
 			}
 			else if($(this).val() == 5){
				$('#ccbox').css('background-position', '0 -40px');
 			}
 			else if($(this).val() == 3){
				$('#ccbox').css('background-position', '0 -60px');
 			}
 			else if($(this).val() == 6){
				$('#ccbox').css('background-position', '0 -80px');
 			}
 			else if($(this).val() == ''){
 				$('#ccbox').css('background-position', '0 0');
 			}	
		});
		$(function() {
			$("#change-shipping").click(function(){
				$(".view-shipping").fadeOut();
				$(".edit-shipping").fadeIn();
			});
		});

		$("#update-shipping").on('click', function(){
			$(".edit-shipping").fadeOut();				
			$(".view-shipping").fadeIn();
		});

		$("#shipping-confirm").on('click', function(){
			$(".view-shipping").fadeOut();				
			$(".payment-information").fadeIn();
		});
	
	});
</script>
