<div class="loading text-center animated fadeIn">
	<div class="spinner-wrapper animated fadeInDown">
    <h1>Thank you</h1>
    <h2>We appreciate your business</h2>
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
		<p>Loading</p>
	</div>
</div>
<article id="confirm-details">
	<div class="page-title">
		<h1>Last step! Review Your Replacement</h1>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<table class="table table-rounded table-bordered claim-details">
				<tr>
					<td class="col-sm-4 col-xs-4">
						Shipping Address	
					</td>
					<td>
						<p>
							123 Haight Street<br />
							San Francisco, CA 94117
						</p>
						<p>
							<a class="change-shipping underline" href="#?" class="underline">change shipping address</a>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						Replacement Device	
					</td>
					<td class="nopad">
						<div class="col-sm-4">
							<img src="../images/phone_img-sm.png" />
						</div>
						<div class="col-sm-8">
							<h4 class="strong black">Blackberry Bold XTC</h4>
							<ul class="accessory-list">
								<li>a new belt clip</li>
								<li>home charger</li>
							</ul>
							<p><a href="#" class="change-accessories underline">change accessories</a></p>
								<div class="change-wrap" style="display: none;">
                  <div class="row">
  						      <cheekybox
  						        id="carcharger-affected"
  						        class="col-sm-12"
  						        label="Car Charger"
  						        targetid=""
  						        size="small"
  						        createinput="no"
  						      />   
                  </div>
                  <div class="row">
  						      <cheekybox
  						        id="earpiece-affected"
  						        class="col-sm-12"
  						        label="Ear Piece"
  						        targetid=""
  						        size="small"
  						        createinput="no"
  						      />
                  </div>
                  <div class="row">
  						      <div class="col-sm-8">
  						      	<a class="btn btn-primary btn-small accessory-update">update</a>
  						      </div>
                  </div>
								</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Email Address	</td>
					<td>
						<div class="email-address">
							<p>bob@bobberson.com</p>
							<p><a id="change-email" class="underline">change email address</a></p>
						</div>
						<div class="change-email-address" style="display:none;">
			        <div class="span4 margin-left-0">
		            <label for="your-email">Your Email</label>  
		            <input type="email" name="your-email" placeholder="email@address.com" id="your-email" class="span4 required stored" errmsg="Please try again using a valid format (e.g. username@domain.com)" />
	         			<div>
	         				<a class="btn btn-primary btn-small" id="email-change-button">update</a>
	         			</div>
			        </div>
					  </div>
					</td>
				</tr>
				<tr>
					<td>Billing Summary</td>
					<td>
						<table class="table table-borderless">
							<tr><td>Insurance Deductible</td><td>$169.00</td></tr>
							<tr><td>Shipping Fee</td><td>$0.00</td></tr>
							<tr><th>Total Fee</th><th>$169.00</th></tr>
						</table>
						<div class="animated fadeInDown alert alert-inline">
              <span aria-hidden="true" class="icon-megaphone icon"></span>
              <div class="alert-content">
                <p>
					If your device is shipped on a Saturday, shipping charges  will appear on you Sprint account (not your credit card account).                
				</p>
              </div>
            </div>
					</td>
				</tr>
				<tr>
					<td>Payment Details</td>
					<td>
						<p>VISA card ending in 1234</p>
						<p><a id="change-payment" class="underline">change payment method</a></p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<p class="text-small strong">I understand that my insurance program requires me to return the damaged device within 10 days. If I do not return the damaged device, the account I provided will be charged a non-return fee of up to $900.00.</p>
			<p class="text-small"><strong>NOTE:</strong> For your convenience, a prepaid envelope will be included with your device. Simply drop your damaged device in the prepaid envelope and place in your mailbox for pickup.</p>
			<div class="row">
				<div class="well secondary clearfix col-sm-12">
					<h3 class="text-center">Please Verify Your Claim</h3>
					<div class="">	
						<p class="text-small text-center col-sm-10 col-sm-offset-1">I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil and/or criminal prosecution under applicable law.</p>
					</div>
						<div class="col-xs-12">	
							<cheekybox
								id="cheekybox1"
								class="col-sm-offset-4 col-xs-offset-2 verify-claim"
								label="I verify that this claim is true."
								targetid=""
								size="small"
								createinput="yes"
							/>
						</div>
				</div>
			</div>
		</div>
	</div>
	<a id="step5submit" class="btn btn-primary btn-large btn-continue btn-disabled btn-large step-continue">Submit My Claim</a>
	<a data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="btn btn-exit">Exit</a>
</article>

<!-- Edit Shipping form -->

<article class="edit-shipping" style="display:none;">
	<div class="row">
		<h1 class="page-title">Shipping Address</h1>
		<div class="col-sm-10 col-sm-offset-1">
			<div class="business-account">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-6 clearfix">
						<p>Is this a business address</p>
					</div>
	      	<div class="col-sm-1 radio">
			      <input id="Yes9" class="s5-business-account" name="s5-account-type-select" value="yes" hidden type="radio" stepid="s4">
			      <label for="Yes9">Yes</label>
				  </div>
				  <div class="col-sm-1 radio">
			      <input id="No9" class="s5-business-account" name="s5-account-type-select" value="no" hidden type="radio" stepid="s4" checked >
			      <label for="No9">No</label>
	      	</div>
				</div>
			</div>
			<div class="row row-form s5-business-account-fields" style="display:none;">
				<div class="col-sm-4" id="s4bizname">
	        <label for="first-name">Business Name</label>
	        <input type="text" name="business-name" placeholder="Business name" id="first-name" class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		    </div>
				<div class="col-sm-4" id="s4fname">
	        <label for="first-name">Your First Name</label>
	        <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" />
		    </div>

        <div class="col-sm-4" id="s4lname">
	        <label for="last-name">Your Last Name</label>			        
	        <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
        </div>
			</div>
			<div class="row row-form s5-personal-account-fields">
				<div class="col-sm-6" id="s4fname">
	        <label for="first-name">Your First Name</label>
	        <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" />
		    </div>

        <div class="col-sm-6" id="s4lname">
	        <label for="last-name">Your Last Name</label>			        
	        <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
        </div>
			</div>
			<div class="row row-form">
				<div class="col-sm-6">
					<label for="address-line-1">Street Address</label>			        
					<input type="text" name="address-line-1" placeholder="123 Elm Street" id="address-line-1"  />
					<p class="help-block">We cannot ship to P.O. boxes/Military addresses.</p>
				</div>
				<div class="col-sm-6">
					<label for="address-line-2">Apartment, Suite, Attn <span class="optional">(Optional)</span></label>			        
					<input type="text" name="address-line-2" placeholder="Apt. 123" id="address-line-2" />
				</div>			
			</div>
			<div class="row row-form">
				<div class="col-sm-2">
					<label for="zip-code">Zip/Postal Code</label>			        
					<input type="text" name="zip-code" placeholder="Zip/Postal Code" id="zip-code" />
				</div>
				<div class="col-sm-4">
					<label for="city">City</label>			        
					<input type="text" name="city" placeholder="City" id="city" />
				</div>

				<div class="col-sm-3">
					<label>State</label>
					<select placeholder="State">
							<option value="1">AL</option>
							<option value="2">AK</option>
							<option value="3">AR</option>
							<option value="4">AZ</option>
							<option value="5">CA</option>
							<option value="6">ALA</option>
							<option value="7">AKA</option>
							<option value="8">ARA</option>
							<option value="9">AZA</option>
							<option value="10">CAA</option>
							<option value="11">ALAA</option>
							<option value="12">AKAA</option>
							<option value="13">ARAA</option>
							<option value="14">AZAA</option>
							<option value="15">CAAA</option>
					</select>                     
				</div>

				<div class="col-sm-3">
					<label>Country</label>
					<select placeholder="Country">
							<option value="1">US</option>
							<option value="2">Canada</option>
					</select>                        
				</div>
			</div>
		</div>
	</div>
	<a class="update-shipping btn btn-primary btn-continue btn-large">Update Shipping Address</a>   	
</article>

<!-- Edit Paymentn form -->

<article class="step5-payment-information" style="display: none;">
	<div class="row">
		<h1 class="page-title">Payment Information</h1>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<table class="table table-bordered claim-details">
				<tr>
					<td>
						Payment Method	
					</td>
					<td>
						<div class="row row-form">
							<div class="col-sm-6 radio">
				        <input name="payment-type" id='credit-card' value="cc" type="radio">
				        <label for='credit-card'>Credit Card</label>
						  </div>
						  <div class="col-sm-6 radio">
				        <input name="payment-type" id='sprint-bill' value="bill" type="radio" checked >
				        <label for='sprint-bill'>Sprint Wireless Bill</label>
							</div> 
						</div>
						<!-- Credit Payment Content -->
						<div class="cc-payment-content" style="display: none;">
							<div class="row row-form">
						    <div class="col-sm-6">
				          <label for="first-name-card">First Name</label>
				          <input type="text" name="first-name-card" placeholder="Last Name" id="name-card" class="required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
					        </div>
						    <div class="col-sm-6">
				          <label for="last-name-card">Last Name</label>
				          <input type="text" name="last-name-card" placeholder="First Name" id="name-card" class="required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
					      </div>
						  </div>
							<div class="row row-form">		    
								<div class="col-sm-12">
				          <label for="card-number">Card Number</label>			        
				          <input type="tel" name="card-number" placeholder="0000-0000-0000" max-length="12" id="card-number" class="cc-input required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
						    </div>
								<div id="ccbox">
									Credit card icons.
								</div>	
						  </div> 
						  <div class="row row-form"> 
								<div class="col-sm-6">
								<label>Expiration Date</label>
								<select placeholder="State">
										<option value="1">AL</option>
										<option value="2">AK</option>
										<option value="3">AR</option>
										<option value="4">AZ</option>
										<option value="5">CA</option>
										<option value="6">ALA</option>
										<option value="7">AKA</option>
										<option value="8">ARA</option>
										<option value="9">AZA</option>
										<option value="10">CAA</option>
										<option value="11">ALAA</option>
										<option value="12">AKAA</option>
										<option value="13">ARAA</option>
										<option value="14">AZAA</option>
										<option value="15">CAAA</option>
								</select>                        
								</div>
								<div class="col-sm-6">
									<select placeholder="Year" class="no-label">
											<option value="1">2001</option>
											<option value="2">2002</option>
											<option value="3">2003</option>
											<option value="4">2004</option>
											<option value="5">2005</option>
									</select>                        
								</div>
							</div>
							<div class="row row-form">		    
						    <div class="col-sm-6">
					        <label for="card-number">Security Code</label>
					        <input type="text" name="cvv" placeholder="0000" maxlength="4" id="cvv" class="required stored" errmsg="" />
					      </div>
									<a id="popoverData" class="help-tooltip" href="#" data-html="true" data-content="On Mastercard and Visa, the Security Code is the 3 digit number found on the back of your card just after your card number.  On American Express, it is found on the front of the card just to the right and above your card number." rel="popover" data-placement="right" data-original-title="Security Code" data-trigger="hover">
					        <span aria-hidden="true" class="icon-tooltip-question help-icon"></span>
									</a>
						  </div> 
							<div class="row row-form">		    
						    <div class="col-sm-6">
					        <label for="zip-code">Billing Zip Code</label>
					        <input type="text" name="zip-code" placeholder="Zip/Postal Code" maxlength="5" id="zip-code" class="required stored" />
					      </div>
						  </div> 
						</div>
						<!-- eCheck Payment Content -->
						<div class="wireless-bill-payment">
							<div class="row">
								<div class="col-sm-12">
									<p class="text-small">The $150 non-deductible will be charged to your monthly Sprint Wireless Bill.</p>
								</div>
						  </div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<a id="update-payment" class="btn btn-primary btn-large btn-continue btn-active">Update Payment Info</a>
	<a data-target="#exitinfo" data-toggle="modal" id="exit" class="btn exit">Exit</a>
</article>

<script type="text/javascript">
	$(function() {
		$("#change-email").click(function(){
			$(".email-address").slideFadeToggle();				
			$(".change-email-address").slideFadeToggle();	
		});
	});
	$(function() {
		$("#email-change-button").click(function(){
			$(".change-email-address").slideFadeToggle();			
			$(".email-address").slideFadeToggle();
		});
	});
	$(function() {
		$('#change-payment').on('click', function(){
			$('#confirm-details').fadeOut();
			$('.step5-payment-information').fadeIn();
		});
	});
	$(function() {
		$('.change-shipping').on('click', function(){
			$('#confirm-details').fadeOut();
			$('.edit-shipping').fadeIn();
		});
	});
	$(function() {
		$('.update-shipping').on('click', function(){
			$('.edit-shipping').fadeOut();
			$('#confirm-details').fadeIn();
		});
	});

	$(function() {
		$('#update-payment').on('click', function(){
			$('.step5-payment-information').fadeOut();
			$('#confirm-details').fadeIn();
		});
	});
	$(document).ready(function () {
		$('select').selectize();
		$('body').delegate('.verify-claim .cheekybox', 'click', function(){
		  $('#step5submit').removeClass('btn-disabled');
		});

		$('.radio #credit-card').click(function(){
	      $('.wireless-bill-payment').fadeOut();
	      $('.cc-payment-content').fadeIn();
	   });
	  $('.radio #sprint-bill').click(function(){
	      $('.cc-payment-content').fadeOut();
	      $('.wireless-bill-payment').fadeIn();
	   });

	  $('.radio input.s5-business-account').click(function(){
	    if($(this).val() == "yes"){ 
	      $('.s5-personal-account-fields').slideFadeToggle();
	      $('.s5-business-account-fields').slideFadeToggle();
	    }
	    if($(this).val() == "no"){ 
	      $('.s5-personal-account-fields').slideFadeToggle();
	      $('.s5-business-account-fields').slideFadeToggle();
	    }
	  });

		$('a.change-accessories').on('click', function(e) {
			$(this).hide();
			$('ul.accessory-list').slideFadeToggle();
			e.preventDefault();
			$('.change-wrap').slideFadeToggle();
		});

		$('.accessory-update').on('click', function(e) {
			e.preventDefault();
			$('ul.accessory-list').slideFadeToggle();
			$('a.change-accessories').fadeIn();
			$('.change-wrap').slideFadeToggle();
		});
	});
</script>
