<!-- This is confusing, so this is the page with TWO phone options -->

<div class="loading text-center animated fadeIn">
  <div class="spinner-wrapper animated fadeInDown">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p>Loading</p>
  </div>
</div>

<div class="page-title">
  <h1>Device Unlock Instructions</h1>
  <h2>In order to protect your privacy, disable the 
Find My iPhone feature before sending in your device.</h2>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="unlock-container">
      <div class="row unlock-header">
        <div class="col-xs-6">
          <a href="#?" class="cannot-use btn btn-primary btn-large btn-tertiary">I can't use my device</a>
        </div>
        <div class="col-xs-6">
          <a href="#?" class="can-use btn btn-primary btn-large btn-tertiary">I can use my device</a>
        </div>
      </div>
      <div class="unlock-content cannot-use-content" style="display: none;">
        <p class="text-center">Follow the steps below to disable the Find My iPhone feature</p>
        <ul class="unlock-list numbered-list">
          <li>Log in to your iCloud account (www.icloud.com)</li>
          <li>Click Find My iPhone > All Devices</li>
          <li>Identify the device</li>
          <li>Click on the name of the device</li>
          <li>Click Remove from Account</li>
        </ul>
      </div>
      <div class="unlock-content can-use-content" style="display: none;">
        <p class="text-center">Follow the steps below to disable the Find My iPhone feature</p>
        <ul class="unlock-list">
          <li>Log in to your iCloud account (www.icloud.com)</li>
          <li>Click Find My iPhone > All Devices</li>
          <li>Identify the device</li>
          <li>Click on the name of the device</li>
          <li>Click Remove from Account</li>
        </ul>
      </div>
    </div>
      <p class="text-center text-small unlock-instructions">
        The Find My iPhone feature is now disabled. Click Check Again below to recheck the status of your iPhone.
      </p>
  </div>
</div>
<div class="row text-center">
  <a type="button" id="validateinputs" class="has-icon btn btn-primary btn-small btn-active unlock-refresh"><i class="icon-refresh"></i>Check Again</a>
</div>  


<script type="text/javascript">
  $('.unlock-refresh').hide();
  $('.cannot-use, .can-use').on('click', function(){
    $('.cannot-use, .can-use').addClass('btn-tertiary');
    $(this).removeClass('btn-tertiary');
    $('.unlock-refresh').fadeIn();
  });
  $('.cannot-use').on('click', function(){
    $('.can-use-content').slideUp();
    $('.cannot-use-content').slideFadeToggle();
  });
  $('.can-use').on('click', function(){
    $('.cannot-use-content').slideUp();
    $('.can-use-content').slideFadeToggle();
  });

  $('.unlock-refresh').on('click', function(){
    $('.unlock-refresh i:before').addClass('animated spin');
  });

  $('.activated-device .radio input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#activated-device').slideDown();
    }
    else {
      $('#activated-device').slideUp();
    }
  });

  $('.affected-accessory .radio input').on('click', function(){
    if ($(this).val() == 'yes') {
      $('#additional-accessories').slideDown();
    }
    else {
      $('#additional-accessories').slideUp();
    }
  });

  $('.compare-features').on('click', function(e) {
    e.preventDefault();
    $(this).hide()
    $('.device-container').slideFadeToggle();
    $(".feature-table" ).slideFadeToggle();
    $('.hide-features').show();
    $('.stock-ship-info').hide();
  });
  $('.hide-features').on('click', function(e) {
    $(this).hide();
    $(".feature-table" ).slideFadeToggle();
    $('.device-container').slideFadeToggle();
    $('.compare-features').show();
    $('.stock-ship-info').show();
  }); 
</script>
