.ddslist {
	margin-left: 0;
}

.dropdownselect, .input-append, .input-append input {
	position: relative;
	cursor: pointer;
		&:hover {
			.add-on {
				background: #bbb;
			}
		}
	input {
		cursor: pointer;
	}
}

div.no-label-spacer {
	margin-top: 22px;
}

.add-on {
	background: #CCC;
	position: absolute;
	z-index: 99;
	padding: 13px 10px 0 10px;
	min-height: 47px;
	height: 48px;
	top: 1px;
	right: 0;
	z-index: 1;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	i {
		color: #eee;
	}
	&:hover {
		background: #bbb;
	}
}

.lt-ie9 .add-on {
	height: 32px;
	min-height: 32px
}

.dropdownselect-list {
	display: none; 
	padding-bottom: 40px; 
	position: absolute;
	z-index: 999;
	ul {
		-webkit-animation: fadeIn 0.3s;
		-moz-animation: fadeIn 0.3s;
		-ms-animation: fadeIn 0.3s;
		-o-animation: fadeIn 0.3s;
		animation: fadeIn 0.3s;
		width: 100%; 
		width: 100%; 
		border-radius: 4px; 
		border: 1px solid #DDD; 
		box-shadow: 0px 3px 5px rgba(0,0,0,0.2); 
		position: relative; 
		z-index: 1; 
		background-color: #FFFFFF; 
		max-height: 204px; 
		overflow: auto;		
	}
	li {
		border-bottom: 1px solid #DDD; 
		background: 15px 50% no-repeat;
		font-size: 14px;
		-moz-transition: background-color .3s ease;
		-webkit-transition: background-color .3s ease;
		transition: background-color .3s ease;
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: #f7f7f7;
			cursor: pointer;
		}		
	}
}

ul.has-thumb {
	max-height: 216px;
}

li.has-thumb {
	display: block; 
	line-height: 72px; 
	padding-left: 60px;
}

li.no-thumb {
	display: block; 
	line-height: 30px; 
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

[class*="span"].dropdownselect-list:not([class*="offset"]) {
	margin-left: 0;
}

/* responsive styles for dropdownselect */

@media (max-width: 768px){
	.add-on i {
		font-size: 14px;
		line-height: 24px;
		text-indent: 0;
	}
	.dropdownselect-list {
		margin-top: -51px;
	}
}
