/* FONTS */

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../../assets/fonts/proximanovaregular-webfont.eot');
    src: url('../../assets/fonts/proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/proximanovaregular-webfont.woff') format('woff'),
         url('../../assets/fonts/proximanovaregular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/proximanovaregular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../../assets/fonts/proximanovabold-webfont.eot');
    src: url('../../assets/fonts/proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/proximanovabold-webfont.woff') format('woff'),
         url('../../assets/fonts/proximanovabold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/proximanovabold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../../assets/fonts/proximanovalight-webfont.eot');
    src: url('../../assets/fonts/proximanovalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/proximanovalight-webfont.woff') format('woff'),
         url('../../assets/fonts/proximanovalight-webfont.ttf') format('truetype'),
         url('../../assets/fonts/proximanovalight-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../../assets/fonts/proximanovasemibold-webfont.eot');
    src: url('../../assets/fonts/proximanovasemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/proximanovasemibold-webfont.woff') format('woff'),
         url('../../assets/fonts/proximanovasemibold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/proximanovasemibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

*, *:after, *:before {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	font-size:16px;
	line-height: 20px;
	font-family: 'proxima_nova_regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	background: #f7f7f7 !important;
	-webkit-backface-visibility:hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'proxima_nova_light', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 30px;
	line-height: 40px;
	color: #333;
}

h2 {
	color: #666;
	font-size: 24px;
	line-height: 30px;
}
h3 {
	color: #666;
	font-size: 18px;
	line-height: 20px;
}
h4 {
	color: #999;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 20px;
}

p {
	margin-bottom: 20px;
}

a {
	color: #666666;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: #333;
}
a img {
	border: 0;
}
a, a img {
	transition: color 1000ms, background-color 1000ms, opacity 1000ms;
	-webkit-transition: color 1000ms, background-color 1000ms, opacity 1000ms;
}
a:hover, a:hover img {
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
}
a.underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	transition: all 1000ms;
	-webkit-transition: all 1000ms;
}
a.underline:hover {
	border-bottom-color: #333;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}

label {
	font-size: 12px;
	font-family: 'proxima_nova_semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;	
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  font-family:'proxima_nova_regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: pointer;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-bottom:40px;	
}
.page-title {
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
	letter-spacing: -1px;	
}
.help-block {
font-size: 12px;
margin-top: -40px;
color:#999;
margin-bottom:20px;
}

table {
	font-size:14px;
}

.page-title h2 {
	font-size: 36px;
	line-height: 40px;
	color: #fff;
	letter-spacing: -1px;
	padding: 0 0 7px;
}
.page-title p {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	padding: 0 0 40px;
}

/* Checkbox (.cheekybox classes used by main.js function cheekybox() */

.checkbox-lg-label, .checkbox-sm-label, .cheekybox-lg-label, .cheekybox-sm-label {
	font-family: 'proxima_nova_regular';
	float: left;
}

.checkbox-lg-label, .cheekybox-lg-label {
	line-height: 40px;
	font-size: 20px;
	margin-bottom: 0;
}

.checkbox-sm-label, .cheekybox-sm-label {
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 0;
}

.checkbox, .cheekybox {
	font-family: 'asurion';
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0;
	float: left;
	cursor: pointer;
}

.checkbox.icon-checkmark, .cheekybox.icon-checkmark {
	text-align: center;
	color: #339966;
}

.checkbox-lg, .cheekybox-lg {
	width: 38px;
	height: 38px;
	line-height: 40px;
	vertical-align: text-bottom;
	font-size: 24px;
	margin-top: 1px;
	margin-right: 24px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

.checkbox-sm, .cheekybox-sm {
	width: 18px;
	height: 18px;
	line-height: 20px;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 1px;
	margin-bottom:5px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
}

/* Bootstrap-based Buttons */


.btn, .btn:hover, .btn.active, .btn.active:hover, .btn:focus {
	border: 0;
	border-radius: 6px;
	font-family: 'proxima_nova_bold';
	font-size: 16px;
	background: #27ae60;
	color: #fff;
	line-height: 60px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	padding-top:0;
	padding-bottom:0;
	-webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}

.btn:focus {
	outline: none;
}

.btn-large, .btn-large:hover {
	font-size: 16px;
	text-shadow: 0 1px rgba(0,0,0,0.2);
	font-family: 'proxima_nova_bold';
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-align:center;
}

.btn-primary {
	background-color: #27AE60;
	padding:0;
	box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
}

.btn-primary:hover, .btn.has-icon:hover {
	background-color: #3db670;
}
.btn-primary:active, .btn.has-icon:active {
	background-color: #27AE60;
	position: relative;
	top:1px;
	box-shadow: inset 0 -2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -2px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -2px 0px rgba(0,0,0,0.2);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background-color: transparent;
	color:#666;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
		text-shadow: none;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:active {
	color: rgba(255,255,255,0.6);
	background-color: #a1a4a7;
	text-shadow: none;
	box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -3px 0px rgba(0,0,0,0.2);
	cursor: default;
}


/* Buttons with icons */
.btn.has-icon {
	line-height: 40px;
	padding-left: 10px;
	font-size:14px;
}

.btn i {
	background: rgba(0,0,0,0.2);
	width: 40px;
	height: 40px;
	margin: -11px 10px -10px -10px;
	line-height: 40px;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
	font-size: 24px;
}

.btn-large i {
	background: rgba(0,0,0,0.2);
	width: 40px;
	height: 60px;
	margin: -11px 10px -10px -10px;
	line-height: 60px;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
	margin-top:0;
}

/* Wells */

.well {
	box-sizing: border-box;	
}

.well.primary {
	background-color: #f7f7f7;
	border-color: #eceff1;
	box-shadow: none;
}

.well.secondary {
	background-color: #FFF;
	border-color: #eceff1;
	box-shadow: none;
}

.well.primary h1, .well.primary h2, .well.primary h3, .well.primary h4 {
	color: #666;
	margin-top: 0;
	margin-bottom: 20px;
}

.well h1 { font-size: 24px; }
.well h2 { font-size: 22px; }
.well h3 { font-size: 20px; }
.well h4 { font-size: 18px; }

.well.inner-top, .well.inner-bottom, .well.inner-left, .well.inner-right {
	border: none;
}

.well.inner-top {
	margin: -19px -19px 20px -19px;
	border-radius: 4px 4px 0 0;
}

.well.inner-bottom {
	margin: 40px -19px -19px -19px;
	border-radius: 0 0 4px 4px;
}

.well.inner-left { /* FOR .inner-left wells, make sure containing well has clearfix */
	margin: -19px 20px -19px -19px;
	border-radius: 4px 0 0 4px;
}

.well.inner-right { /* FOR .inner-right wells, make sure containing well has clearfix */
	margin: -19px -19px -19px 20px;
	border-radius: 0 4px 4px 0;
}

/* tables */
.table {
	border-top-color: #eceff1;
	border-right-color: #eceff1;
	border-bottom-color: #eceff1;
	overflow: hidden;
}

.table td {
	border-left-color: #eceff1;
	border-top-color: #eceff1;
	padding:8px 0;
}

.table th {
	font-weight: normal;
	font-family: 'proxima_nova_semibold';
	color: #333;
}

.table.claim-details tr td:first-child {
	background-color: #f7f7f7;
	color: #333;
	font-family: 'proxima_nova_semibold';
	text-align: right;
	padding-right: 13px;
}

.table.claim-details tr td:nth-child(2){
	padding-left: 20px;
	padding-right: 20px;
}

.table.claim-details tr td.nopad {
	padding-left: 0;
}

.table.claim-details tr td .table tr td:first-child {
	background-color: transparent;
	color: #666;
	font-family: 'proxima_nova_regular';
	text-align: left;
	padding-right: 8px;
	border-left: none;
}

.table.claim-details tr .table tr td:nth-child(2){
	padding-left: 8px;
	border-left: none;
}

.table.claim-details tr .table tr th {
	border-left: none;
}

/* arrow styles */
.arrow-block-right {
	display: block;
	margin-top: 140px;
}
.arrow-body {
	background: #999;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 20px;
	text-align: center;
	font-family: 'proxima_nova_semibold';
	font-size: 14px;
}
.arrow-right {
	float: right;
	border-left: 20px solid #999;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	position: relative;
	width: 0px;
	margin: -5px 0 0 0;
}
.table-striped tbody > tr:nth-child(odd) > th {
background: #666;
color: #fff;
font-family: 'proxima_nova_semibold';
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 9px 6px;
	border-radius: 3px;
	color: #666;
	height:30px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
}
.input-append .add-on, .input-prepend .add-on {
	height:40px;
	z-index: 9;
}
#checkbox-input {
	width: 48px;
	height: 48px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset;
	cursor: pointer;
	font-size: 24px;
	text-indent: 12px;
	line-height: 48px;
	color: transparent;
}

#checkbox-input.selected {
	color: #27ae60;
}
.radio {
	padding-left:0;
}
.radio label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
   	line-height:60px;    
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
    padding-top:10px;
    display: inline;
	font-family: 'proxima_nova_regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.radio label::before, .radio label::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.radio label::before {
    box-shadow: 0 1px 3px rgba(0,0,0,0.5) inset;
    background:#fff;
}
.radio label::after {
    background: #27AE60;
    opacity: .2;
    -webkit-transform: scale(0);
    transform: scale(0);
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.radio input:checked + label::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
    box-shadow: 0 0 3px -1px #27AE60;
}

i.icon-print {
	color: #333;
	padding-right: 10px;
}
#printclaiminfo {
	color:#fff;
	text-align:center;
	margin:0 auto;
}
#printclaiminfo a {
	margin:0 0 40px;
}
#printclaiminfo i {
	color:#fff;
	padding-right:0;
}
/* Get Started - Front Page */

#get-started [class^="item"] {
	background-color: #ECEFF1;
	padding-bottom: 40px;
	min-height: 206px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#get-started h2 {
	font-size: 20px;
	color: #333;
	font-family: 'proxima_nova_semibold';
}

#get-started p {
	width: 78%;
	text-align: center;
	margin: 20px auto 0 auto;
}
.business-account{
	margin-bottom: 10px;
	margin-top: 20px;
}
.business-account h2 {
	font-size:20px;
	line-height: 40px;
}
.business-account p {
	font-size:14px;
	line-height: 60px;
	text-align: right;
	margin:0;
}
.affected-accessory p{
	font-size:14px;
	margin:0;
	margin-left:-40px;
}
.affected-accessory .radio label {
	line-height:20px;
}

#additional-accessories {
	display: none;
}


#additional-accessories p {
	font-size:14px;
}

/* datepicker styles */

.datepicker-holder {
	position: relative;
}
.datepicker {
	background: #fff;
	top: 0;
	position: absolute;
	width: 380px;
	dmargin-left: -332px;
	margin-top:-1px;
}
.add-on {
	position: relative;
	width: 37px !important;
	padding: 0;
	margin: 0;
	height: 40px;
	display: block;
	right: 47px;
	top: 0;
	cursor: pointer;
}

.add-on i.icon-cal {
	font-size: 28px;
	text-indent: -6px;
	line-height: 32px;
}
.datepicker-days, .dow, .datepicker-months, .datepicker-years {
	padding: 5px 15px;
	text-align: center;
}
.datepicker .disabled {
	color:#ccc !important;
	cursor: default;
}
.datepicker .disabled:hover {
	background:transparent;
	color:#ccc;
	cursor: default;
}
.datepicker-days table.table-condensed, .datepicker-months table.table-condensed, .datepicker-years table.table-condensed{
	width: 100%;
	text-align: center;
	border-collapse: separate;
	border-spacing: 2px;
}
.datepicker-days table.table-condensed td {
	padding: 10px;
	border: 0;
	border-radius:3px;
	text-align: center;	
	color: #666;
	cursor: pointer;
}
.datepicker-months table.table-condensed span, .datepicker-years table.table-condensed span{
 	padding: 20px 25px;
	border: 0;
	border-radius:3px;
	text-align: center;	
	color:##666;
	cursor: pointer;
 	display:block;
 	float:left;
 	width: 18%;
 }
.datepicker-days table.table-condensed th.prev, .datepicker-days table.table-condensed th.next, .datepicker-months table.table-condensed th.prev, .datepicker-months table.table-condensed th.next, .datepicker-years table.table-condensed th.prev, .datepicker-years table.table-condensed th.next{
	color: #333;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	font-family:'proxima_nova_semibold';
	border-radius:3px;
	padding:10px;
	cursor: pointer;
}
.datepicker-days table.table-condensed th.prev:hover, .datepicker-days table.table-condensed th.next:hover, .datepicker-months table.table-condensed th.prev:hover, .datepicker-months table.table-condensed th.next:hover, .datepicker-years table.table-condensed th.prev:hover, .datepicker-years table.table-condensed th.next:hover {
	color:#666;
	border-radius:3px;
}
.datepicker-days table.table-condensed th.switch, .datepicker-switch, .datepicker-months table.table-condensed th.switch, .datepicker-years table.table-condensed th.switch{
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	font-family:'proxima_nova_semibold';
}
.dow {
	font-weight: normal;
	text-align: center;
	font-family:'proxima_nova_semibold';
	color:#333;
}

td.day.active, td.active.new {
	background-color: #333;
	color: #FFF;
	border-radius:3px;
}
td.disabled.new:hover {
	background-color: #f7f7f7;
}
td.day.old, td.day.new {
	background-color: #f7f7f7;
}
td.day:hover, span.year:hover, span.month:hover {
	background-color: #ddd;
}
td.day:active, span.year:active, span.month:active {
	background-color: #333; 
	color: #FFFFFF;
}

/* custom input styles */
[class*="span"].input-append:not([class*="offset"]) {
	margin-left: 0;
}
.input-append .add-on {
	background-color: #CCC;
}
.add-on i {
	color: #FFFFFF;
	text-shadow: none;
}

#incident-date {
	
}
.incident-description {
	height: 200px;
}
#charcount {
	margin-top: -40px;
	font-size: 12px;
}
.icon-arr-down {
	line-height: 36px;
}

.exit, .exit:hover{
	background-color: transparent;
	color: #666;
	        box-shadow: none;
	        text-shadow:none;
	margin-top:0;
	margin-bottom:0;
	font-size:14px;
	line-height:40px;
}

.info-lrg{
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
}

.info-lrg a{
	font-size:14px;
	text-decoration: underline; 
}

.stretch{
	min-height: 520px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #CCC;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #CCC;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #CCC;
}

/* UTILITY STYLES */

[class^="icon-"], [class*="icon-"] { background-image: none; }
strong, .strong { font-family: 'proxima_nova_semibold'; font-weight: normal; }
.font-normal { font-family: 'proxima_nova_regular'; }
.text-small { font-size: 14px; line-height: 20px; }
.black { color: #333; }
.dark-gray { color: #666; }
.light-gray, .optional { color: #999; }

.clearfix { *zoom: 1; }
.clearfix:after {
	width: 100%;
	content: '';
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
	display: block;
}

.hide{ display: none; }
.margin-top-0{ margin-top:0px; }
.margin-top-10{ margin-top:10px; }
.margin-top-20{ margin-top:20px; }
.margin-top-30{ margin-top:30px; }
.margin-top-40{ margin-top:40px; }
.margin-top-50{ margin-top:50px; }
.margin-top-60{ margin-top:60px; }
.margin-top-70{ margin-top:70px; }
.margin-top-80{ margin-top:80px; }
.margin-top-90{ margin-top:90px; }
.margin-top-100{ margin-top:100px; }

.margin-bottom-0{ margin-bottom:0px; }
.margin-bottom-10{ margin-bottom:10px; }
.margin-bottom-20{ margin-bottom:20px; }
.margin-bottom-30{ margin-bottom:30px; }
.margin-bottom-40{ margin-bottom:40px; }
.margin-bottom-50{ margin-bottom:50px; }
.margin-bottom-60{ margin-bottom:60px; }
.margin-bottom-70{ margin-bottom:70px; }
.margin-bottom-80{ margin-bottom:80px; }
.margin-bottom-90{ margin-bottom:90px; }
.margin-bottom-100{ margin-bottom:100px; }

.margin-left-0{ margin-left: 0px; }
.margin-left-10{ margin-left: 10px; }
.margin-left-20{ margin-left: 20px; }
.margin-left-30{ margin-left: 30px; }
.margin-left-40{ margin-left: 40px; }
.margin-left-50{ margin-left: 50px; }
.margin-left-60{ margin-left: 60px; }
.margin-left-70{ margin-left: 70px; }
.margin-left-80{ margin-left: 80px; }
.margin-left-90{ margin-left: 90px; }
.margin-left-100{ margin-left: 100px; }

.margin-right-0{ margin-right: 0px; }
.margin-right-10{ margin-right: 10px; }
.margin-right-20{ margin-right: 20px; }
.margin-right-30{ margin-right: 30px; }
.margin-right-40{ margin-right: 40px; }
.margin-right-50{ margin-right: 50px; }
.margin-right-60{ margin-right: 60px; }
.margin-right-70{ margin-right: 70px; }
.margin-right-80{ margin-right: 80px; }
.margin-right-90{ margin-right: 90px; }
.margin-right-100{ margin-right: 100px; }

.left, .alignleft, .align-left { float: left; display: inline; }
.right, .alignright, .align-right { float: right; display: inline; }
.center, .aligncenter, .align-center { float: none; margin: 0 auto; }

/* FORM FIELD VALIDATION */

.err {
	margin-bottom: 20px;
	margin-top: -40px;
	color: #900;
	font-family: 'proxima_nova_semibold';
	font-size:12px;
}

.err.submit {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
}

input.not-verified {
	background-color: #F3DBDB;
}

input.locked {
	color: #CCC;
	cursor: default;
}

span.textbox-icon {
	float: right;
	height: 0;
}

span.textbox-icon:before {
	font-size: 28px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	z-index: 999;
	margin-top: 12px;
	margin-left: -28px;
}

span.textbox-icon.icon-checkmark:before {
	color: #5E8A00;
	font-size: 28px;
}

span.textbox-icon.icon-close:before {
	color: #C52103;
	font-size: 24px;
}

span.textbox-icon.icon-validated-lock:before {
	color: #CCC;
}
.change-device-button {
	margin-bottom:0 !important;
	margin-top: 20px !important;
}
#email-change-button {
	margin-top:0;
	margin-left:0;
}
/* Animated Page Changes/Selections */

#affected-device, .edit-shipping, .view-shipping, .payment-information {
	-webkit-animation: fadeIn 0.3s linear;-moz-animation: fadeIn 0.3s linear;-ms-animation: fadeIn 0.3s linear;-o-animation: fadeIn 0.3s linear;animation: fadeIn 0.3s linear;
}

/* Header Styles */

.header { border-top: solid 5px #333333; height: 60px; padding: 15px 0 0; }

.header .links {float: right;}
.es-link {float: left; color: #999999; font-size: 12px; line-height: 20px; margin: 10px 20px 0 0; }
.chat-link { float: right; display: inline; color: #999999;   font-family: 'proxima_nova_bold'; font-size: 10px; padding: 0; margin: 10px 0 0 0;}
i.icon-chat:before {margin-right: 10px; font-size: 20px; vertical-align: middle;}

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.logo { font-family: 'asurion';height: 78px; width: 134px; float: left; display: inline; display: block; margin:0;font-size: 32px;
line-height: 36px;}

.steps { height: 67px;background: #999999; padding: 13px 0; }

header {
	border-top: solid 5px #333;
	height: 45px;
	padding: 35px 0;
	text-align: center;
}

header div.span12, nav div.span12 {
	float: none;
	margin: 0 auto;
}
.links {
	float:right;
}
.es-link {
	font-family: 'proxima_nova_bold';
	color: #999;
	font-size: 12px;
	margin-right: 12px;
}

.icon-chat {
	width: auto;
	text-transform: uppercase;
	color: #999999;
	line-height: 5px;
}

.icon-chat:before {
	padding-right: 6px;
	font-size: 20px;
	vertical-align: middle;
	color: #ec9f2b;
}

a.icon-chat span {
	font-family: 'proxima_nova_bold';
	font-size: 12px;
}

#progress-bar {
	background-color: #999999;
	height: 80px;
}

.welcome-banner {
	height: auto !important;
	padding-top: 10px;
}

nav .stepscontainer {
	text-align: center;
	margin-left: 0;
}

ul.steps {
	text-align: center;
	margin: 0 auto;
}

li[class*="step"] {
	list-style: none;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	color: #CCCCCC;
	font-family: 'proxima_nova_semibold';
	font-size: 10px;
	margin-top: 13px;
	width: 150px;
}

li.step-6 {
	padding-right: 0;
}

.icon {
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	color: #CCCCCC;
	margin-bottom: 4px;
	border: 3px solid #999999;
	z-index: 1;
	position: relative;
}

.icon:after {  
    content: "";  
    display: block;  
    border-top: solid 5px #FFFFFF;  
    width: 130px;  
    height: 1px;  
    position: absolute;  
    top: 15px;
    left: 38px;
    z-index: 0;  
}

li[class*="step"].active {
	color: #FFFFFF;
}

li[class*="step"].active .icon {
	border-color: #FFFFFF;
	color: #333;
}
li[class*="step"].active .icon:after {
	left: 36px;
}


li[class*="step"].prev .icon:before{
	border-color: #999999;
	content: "\e00f" !important;
}

li[class*="step"].prev .icon:after {
	width: 130px;
	border-color: #333;
}

/* Footer Styles */

.footer-links ul {
	margin: 0 auto;
	text-align: center;
}

.footer-links li {
	display: inline;
	padding-left: 10px;
	line-height: 80px;
	font-size: 12px;
}

.footer-links li:before {
	content: '\2022';
	padding-right: 10px;
}

.footer-links li:first-child {
	padding-left: 0;
}

.footer-links li:first-child:before {
	content: '';
	padding-right: 0;
}


/* Sticky Footer Styling */
.pre-footer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

.pre-footer, footer {

}

/* StepBar Styles */

.stepbar {
	background-color: #efefef;
	display: block;
	height: 60px;
	border: 1px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

.stepbar i {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin: 18px;
	padding-right: 18px;
	font-size: 24px;
	text-align: center;
	border-right: 1px solid #DDD;
}

.stepbar .stepbar-text-top {
	float: left;
	min-width: 70%;
	margin-top: 15px;
	font-size: 10px;
	color: #AAA;
	text-transform: uppercase;
	line-height: 10px;
	font-family: 'proxima_nova_bold';
	letter-spacing: -1px;
}

.stepbar .stepbar-text-bottom {
	float: left;
	min-width: 70%;
	font-size: 20px;
	line-height: 20px;
	color: #666;
	font-family: 'proxima_nova_regular';
	letter-spacing: -1px;
}

.stepbar.inactive, .stepbar.complete {
	margin-bottom: 20px;
	border-bottom-color: #DDD !important;
}

.stepbar.inactive .stepbar-text-top, .stepbar.complete .stepbar-text-top {
	color: #CCC;
}

.stepbar.inactive .stepbar-text-bottom, .stepbar.complete .stepbar-text-bottom {
	color: #888;
}

.stepbar.inactive i {
	color: #CCC !important;
}

.stepbar.complete i {
	color: #339966 !important;
}

.claimstep {
	display: none;
	padding: 0 0 20px 0;
	margin-bottom: 20px;
	background-color :#fff;
	border: 1px solid #ccc;
	border-top: 1px solid transparent;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
#shippingmethod {
	margin-bottom: 0;
}

/* modal */

.blurz {
   	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.modal.fade.in {
	top: 5%;
}
.modal-header {
	padding: 15px;
	text-align: center;
}

.modal-header .close {
	margin-top: -4px;
}

.modal-body h5 {
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #999;
	margin-top: 20px;
}

.modal-body p {
	padding: 10px 40px;
}

.modal-body ul {
	padding: 10px 80px;
}

.modal-body li {
	padding: 5px;
}

.modal-body .btn {
	float: none;
}

.modal-footer {
	text-align: center;
}

.modal-footer .btn {
	margin-bottom: auto;
	margin-top: auto;
	line-height: 40px;
	padding:0 40px;
}

/* icon styles */

.box.has-peekover {
	text-align: center;
}

i.large{
	width: 60px;
	height: 60px;
    border-radius: 100% 100% 100% 100%;
    background-color: #FFFFFF;
    border: 3px solid #ECEFF1;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
}

i.peekover {
	top: -14px;
	margin: 0 auto;
	position: relative;
	display: block;
}

#asurionid {
	background-color: #ECEFF1;
	padding-bottom: 40px;
	min-height: 206px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#resume-claim {
	background-color: #ECEFF1;
	padding-bottom: 40px;
	min-height: 206px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}


/* carousel for backorder devices */

#bko-carousel .carousel {
  margin-bottom: 40px;
}

#bko-carousel .carousel-inner {
  position: relative;
  width: 92%;
  overflow: hidden;
  margin-left: 20px;
}

#bko-carousel .carousel-control {
  top:20px;
  font-size: 24px;
  border-radius: 0;
  border:0;
  line-height: 320px;
  font-family: Asurion;
  color: #999;
}
#bko-carousel .carousel-control.right {
  height: 100%;
  background:#ddd;
  right:0;
  border-radius: 0 6px 6px 0;
}
#bko-carousel .carousel-control.left {
  height: 100%;
  background:#ddd;
  left:0;
  border-radius: 6px 0 0 6px;
}

#bko-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -25px;
  margin-right: -19px;
}

#bko-carousel .carousel-indicators li {
  background: #ccc;
  padding:0;
}

#bko-carousel .carousel-indicators .active {
    background: #666;
}

#bko-carousel .carousel .row .span1 {
  width: 100%;
  text-align: center;
  float: left;
}

#bko-carousel .carousel .row {
  margin-left: 0;
}

.bko-device {
	opacity: .5;
}

p.compare-features, p.hide-features {
	margin-top: 35px;
}

.table-compare-features th {
	text-align: left;
	border: none;
}

.table-compare-features th.bordered, .table-compare-features td.bordered {
	border-left: 1px solid #ECEFF1;
	text-align: left;
}

.table-compare-features td {
	border: none;
	padding: 8px 6px;
}

.compare-img {
	height: 50px;
	margin: 6px 0;
	display: block;
}

.accessory-update {
	margin-top: 15px;
}
.accessory-update:hover {
	margin-top: 15px;
}

/* carousel for phone selection modal */

.popover-title {
	font-family: 'proxima_nova_semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
}
.popover-content {
	font-size:12px;
	line-height: 16px;
}

#changedevice .carousel {
  margin-bottom: 40px;
}

#changedevice .carousel-inner {
  position: relative;
  width: 92%;
  overflow: hidden;
  margin-left: 20px;
}

#changedevice .carousel-control {
  top:20px;
  font-size: 24px;
  border-radius: 0;
  border:0;
  line-height: 190px;
  font-family: Asurion;
}
#changedevice .carousel-control.right {
  height: 100%;
  background:#ddd;
  right:0;
  border-radius: 0 6px 6px 0;
}
#changedevice .carousel-control.left {
  height: 100%;
  background:#ddd;
  left:0;
  border-radius: 6px 0 0 6px;
}

#changedevice .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -25px;
  margin-right: -19px;
}

#changedevice .carousel-indicators li {
  background: #ccc;
    padding:0;
}

#changedevice .carousel-indicators .active {
    background: #666;
}

p.caption {
  font-size: 12px;
  text-align: center;
  padding: 0;
  font-family:'proxima_nova_bold';
  margin: 0;
}

#changedevice .carousel .row .span1 {
  width: 28%;
  text-align: center;
  float: left;
}

#changedevice .carousel .row {
  margin-left: 0;
}

#device-search-button {
  margin-top:0;
}

@media (min-width: 1200px){
  #changedevice .carousel .row .span1 {
      width: 27.5%;
  }
}

@media (max-width: 767px) {
  #changedevice .carousel-control {
    line-height: 190px;       
  }
  #changedevice .carousel-inner {
    width: 92%;
  }
  #changedevice .carousel .row .span1 {
    width: 32%;
  }
}

@media (max-width: 320px){
  #changedevice .carousel .row .span1 {
    width: 30%;
    text-align: center;
    margin: 0 3px;
    float: left;
  }
  #changedevice .carousel-control {
    line-height: 120px;
  }
  #changedevice .carousel-inner {
    position: relative;
    width: 83%;
    margin-left: 20px;
  }
  p.caption {
    font-size: 10px;
  }
}

main {
  display: block;
  max-width: 940px;
  margin: 0 auto;
}

/* media query targeting ie10 and ie9 to remove the psuedo-element radio buttons */

@media screen and (min-width:0\0) {
  	.radio label::before, .radio label::after {
    	display: none;
	}
	.radio label {
		padding-left: 10px;
	}
	.radio input {
		margin: 22px 0 0 0;
	}
	.radio input[type='radio'] {
		margin-left: 0;
	}
	.affected-accessory #accessories-no, .affected-accessory #accessories-yes {
		margin-top: 3px;
	}
} 

