<script type="text/javascript">
  $(document).ready(function() {
  	$('#change-device').carousel({
      interval: false
  	});
    $('#device-search-button').click(function(){
      $('#change-device').slideToggle('slow');
    });
  });
</script>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h2 id="changedevicelabel">Search for the affected device</h2>
    </div>
    <div class="modal-body">
      <div class="row text-center">
        <div class="col-xs-12">
          <label for="affected-device-search">Search for the affected device</label>
          <div class="device-search clearfix">
            <input type="text" name="contact-number" placeholder="Enter the affected device name" id="affected-device-search" class="pull-left" />
            <a class="btn btn-primary pull-right" id="device-search-button">search</a>
          </div>
        </div>
      </div>
      <div id="change-device" class="carousel slide" style="display:none;">
        <ol class="carousel-indicators">
          <li data-target="#change-device" data-slide-to="0" class="active"></li>
          <li data-target="#change-device" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="well secondary">  
          <div class="carousel-inner">    
            <div class="item active">
              <div class="row">
                <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 8GB</p>
                </div>
                <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 16GB</p></div>
                <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 32GB</p></div>
              </div>
            </div><!--/item-->
            <div class="item">
              <div class="row">
                  <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 8GB</p></div>
                  <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 16GB</p></div>
                  <div class="col-xs-4 text-center"><a data-dismiss="modal" aria-hidden="true"><img src="../images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 32GB</p></div>
              </div>
            </div><!--/item-->
          </div><!--/carousel-inner-->
          <a class="left carousel-control" href="#change-device" data-slide="prev">&#xe015;</a>
          <a class="right carousel-control" href="#change-device" data-slide="next">&#xe016;</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
