
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h2 id="claimcreatedlabel">Thank you! Your claim is created.</h2>
</div>

<div class="modal-body">
    <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
    <p>Your Claim ID is <span class="strong">12345678</span><br />
    Your wireless number is <span class="strong">(415) 555-5555</span></p>
        <!-- <p class="help-inline"><a id="printsuccesspage"><i class="icon-print carrier-color"></i>print claim information</a></p> -->
        <p id="printclaiminfo"><a data-toggle="modal" class="btn has-icon"><i class="icon-print"></i>print claim information</a></p>
</div>

    <div class="modal-footer">
    	<!-- <button class="btn btn-primary btn-active step-continue" id="step1submit">Continue</button> -->
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-active step-continue">Continue</button> 
    </div>