<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h2 id="claimcreatedlabel">Thank you! Your claim is created.</h2>
    </div>
    <div class="modal-body text-center">
      <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
      <p>Your Claim ID is <span class="strong">12345678</span><br />
      Your wireless number is <span class="strong">(415) 555-5555</span></p>
      <button class="btn btn-primary btn-large btn-active btn-continue" id="step1submit">Continue</button>
      <a data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="btn btn-exit">Choose a different device</a>
    </div>
  </div>
</div>
