<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h2 id="claimcreatedlabel">Thank you! Your claim is created.</h2>
    </div>
    <div class="modal-body text-center">
      <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
      <p>Your Claim ID is <span class="strong">12345678</span><br />
      Your wireless number is <span class="strong">(415) 555-5555</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary btn-active step-continue">Continue</button> 
    </div>
  </div>
</div>
