<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="claimcreatedlabel">Before sending us your iOS device</h2>
    </div>
    <div class="modal-body">
      <p>In order to secure your private information and avoid a charge of up to <span class="bold">$900</span> please perform the following steps on your device before sending it back</p>
      <ul class="numbered-list ios-unlock">
        <li>Navigate to Settings</li>
        <li>Select iCloud</li>
        <li>Scroll down to Find my iPhone</li>
        <li>Turn setting to off</li>
      </ul>
      <p class="text-small">If you are unable to use your device, instructions on the necessary steps will be included in your shipment</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary btn-active step-continue">Continue</button> 
    </div>
  </div>
</div>
