<div class="modal-header">
	<h2 id="exitinfolabel">Would you like to proceed or exit this claim ?
</h2>
</div>

<div class="modal-body">
  	<p class="text-center">You are about to exit your claim. Upon resuming your claim you will need to confirm your replacement device again. We can not guarantee the same replacement device will be available.</p>
  	<div class="text-center">
		<button class="btn span4" data-dismiss="modal" aria-hidden="true">Proceed with claim</button>
  	</div>
  	<div class="text-center">
		<button id="exitclaim" class="btn exit span4" >Exit</button>
  	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#exitclaim').click(function() {
		$('#exitinfo').modal('hide');
		window.location = "terminal.html";
	});
});
</script>