<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h2 id="exitlabel">Please tell us why you are leaving</h2>
</div>
<div class="modal-body">
	<div>
		<div class="radio span6">
			<input id='exit1' name="exit-survey" value="time" hidden type="radio" />
			<label for='exit1'>I need more time to file my claim</label>
		</div>
	</div>
	
	<div>
		<div class="radio span6">
			<input id='exit2' name="exit-survey" value="difficult" hidden type="radio" />
			<label for='exit2'>The site was too difficult</label>
		</div>
	</div>
	
	<div>
		<div class="radio span6">
			<input id='exit3' name="exit-survey" value="technical" hidden type="radio" />
			<label for='exit3'>I am having technical difficulties</label>
		</div>
		<div id="technical-details" style="display:none;" class="span6 clearfix">
			<textarea class="span6" id="technical-details-text" name="exit-survey" maxchars="500" initial_val="Please explain your difficulties."></textarea>
		</div>
	</div>
	

	<div class="radio span6">
		<input id='exit4' name="exit-survey" value="other" hidden type="radio" />
		<label for='exit4'>Other event</label>
	</div>
	<div id="other-details" style="display:none;" class="span6 clearfix">
		<textarea class="span6" id="other-details-text" name="exit-survey" maxchars="500" initial_val="Please explain."></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Submit</button>
</div>

<script type="text/javascript">
	$.fn.slideFadeToggle = function(speed, easing, callback) {
    return this.animate({
        opacity: 'toggle',
        height: 'toggle'
    }, speed, easing, callback);
	};
	var previous = null;	
	$('input:radio[name="exit-survey"]').click(function( e ){
		var target = '#' + jQuery(e.target).val();
		var result = target + '-details';
		if( previous != result ){
			$( previous ).slideFadeToggle("300")
			$( result ).slideFadeToggle("300");
		}
		previous = result;
	});
</script>
