<div class="modal-header">
	<h2 id="locateinfolabel">Would you like to locate your device?</h2>
</div>

<div class="modal-body">
  	<p class="text-center">It looks like your device is protected with AT&amp;T&rsquo;s Mobile Locate. This app helps you find the current location of your device, or the last location tracked by the network.</p>
  	<div class="text-center">
		<button id="locate" class="btn span4" >Locate my device</button>
  	</div>
  	<div class="text-center">
		<button id="proceed" class="btn exit span4" >Proceed with claim</button>
  	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#proceed').click(function() {
		$('#locateinfo').modal('hide');
		$('#step2').submit();
	});
});
</script>