<div class="modal-header">
	<h2 id="qtoollabel">Your claim is being processed&hellip;</h2>
</div>

<div class="modal-body">
	<p class="text-center">Please <strong>DO NOT</strong> refresh this page.<br/>
	The screen will automatically advance once this process is complete.</p>
	<p class="text-center text-small">This could take up to 3 minutes.</p>
	<img class="center" src="../../assets/images/loading.gif">
</div>
