/*========================================
=            CUSTOM CONTAINERS            =
========================================*/

.container--md{
	@extend .container;
	@include breakpoint(min-large){width:850px}
}

/*===========================================
=            CLAIM STATUS LAYOUT            =
===========================================*/

.link, .text-highlight{
	color:$btn-primary;
}
a.link.underline{
	border-bottom:solid 1px $btn-primary;
}
.round-box{
	border:solid 1px $grey;
	border-radius: 8px;
	padding:1.5em;
	min-height:230px;
	@include breakpoint(small){
		min-height: 0;
	}
}
.claim-status-section{
	@extend .margin-3x--bottom;
	border: solid 2px $grey;
    border-top: 0;
    min-height: 500px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 3;
    // margin-top: -8px;
    z-index: 3;
    position: relative;
    background: white;

}

.claim-history__item{
	padding:1em 2em;
	display:table;
	width:100%;
	background:#F7F7F7;
	border-bottom:solid 2px white;
	.claim-history__item__icon{
		margin: 0 1em;
		display: table-cell;
		vertical-align: middle;
		width: 2.5em;
		height: 2.5em;
		border-radius:2.5em;
		background:#F7F7F7;
		text-align:center;
		border:solid 2px #E6E6E6;
		position: relative;
		i{
			vertical-align: middle;
			font-size: 1.5em;
			color:#E6E6E6!important;
		}
		&:before{
			content: "";
			width: 2px;
			height: 100%;
			position: absolute;
			left:50%;
			top:100%;
			background:#E6E6E6;
		}
	}
	.claim-history__item__title{
		display: table-cell;
		vertical-align: middle;
		color:#333;
		color:#929292;
		padding-left:1em;
		@include breakpoint(small){
			display: block;
			text-align: left;
		}
	}
	.claim-history__item__action{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		@include breakpoint(small){
			display: block;
			text-align: left;
			margin-left: 1em;
			font-size: .9em;	
		}
	}
	&:last-child{
		border-bottom:0;
		.claim-history__item__icon:before{
			display: none;
		}
	}

}

.claim-history__item--current{
	background:white;
	border-top:solid 2px #F7F7F7;
	border-bottom:solid 2px white;
	.claim-history__item__title{
		font-size: 1.2em;
		color:black;
	}
	.claim-history__item__icon{
		background:white;
		border:solid 2px $primary-color;
		i{
			color:$primary-color!important;
		}
	}
	.claim-history__item__title{}
}

.claim-history__item--more{
	.claim-history__item__icon{
		border:solid 2px #27ae60;
	}
	.more{
		color: #27ae60;
	    font-size: 2em;
	    line-height: 0;
	    top: .25em;
	    position: absolute;
	    left: -50%;
	    right: -50%;
	}
}
.claim-headline{
	line-height:1;
	margin-top:0;
	@include breakpoint(small){
		text-align: center;
	}
	@include breakpoint(min-medium){
		font-size: 2.2em;
	}
	@include breakpoint(min-large){
		font-size: 2.35em;
	}
}
.subhead{
	font-size:.98em;
	text-transform:uppercase;
	font-weight:bold;
	
}
.subhead--light{
	color:#A7A7A7;
}
.subhead--dark{
	color:black;
}
.subhead--divider{
	text-align:center;
	vertical-align: middle;
	&:before{
		content:'';
		margin-right: 1em;
		display: inline-block;
		border-bottom:solid 2px $grey;
		width: 100px;
		height: 1px;
		vertical-align: middle;
		@include breakpoint(small){
			width: 30px;	
		}
	}
	&:after{
		content:'';
		margin-left: 1em;
		display: inline-block;
		border-bottom:solid 2px $grey;
		width: 100px;
		height: 1px;
		vertical-align: middle;
		@include breakpoint(small){
			width: 30px;	
		}
	}
}
.what-happens-next{
	@include breakpoint(small){
		text-align: center;
		margin-bottom: 1em;
	}
}
/*==============================
=            IMAGES            =
==============================*/

.img-claim-phone{
	width:110px;
	@include breakpoint(small){
		margin-bottom:2em;
	}
}
.img-tech{
	width:100%;
	@include breakpoint(small){
		width: 150px;
		margin: auto;
		display: block;
		margin-bottom: 2em;
	}
}
.col-reset-left-padding{
	padding-left:5px;
	@include breakpoint(small){
		padding-left: 15px;
	}
}

/*============================
=            TABS            =
============================*/




.tabs{
		font-size: 1em;
		display:table;
		table-layout:fixed;
		width:100%;
		margin:0;
		padding:0;
		counter-reset: step-counter;
		height: 3em;
		font-size:.9em;
		border-bottom:0;
		margin-top:-5px;
		
}
.tabs--mobile-disable{
	
	display:table;
	@include breakpoint(small){
		display:none;
	}
}
.tabs--mobile-list{
	@include breakpoint(small){
		height: auto;
		margin-top: 0;
	}
}
.tabs--mobile-list .tab{
	@include breakpoint(small){
		display: block!important;

	}
}
.tabs .tab{
	cursor:pointer;
	display:block;
	float: left;
	padding:1em;
	padding-top:.7em;
	position: relative;
	vertical-align:middle;
	color:grey;
	letter-spacing:-.03em;
	text-align:center;
	background:#F7F7F7;
	border:solid 2px $grey;
	// -webkit-box-shadow: 0px 0px 0px 2px $grey;
	// -moz-box-shadow: 0px 0px 0px 2px $grey;
	// box-shadow: 0px 0px 0px 2px $grey;
	
	border-top-right-radius:8px;
	border-top-left-radius:8px;
	height:4em;
	z-index: 1;
	@include breakpoint(small){
		font-size: .85em;
	}
	
	&:first-child{
		border-bottom-right-radius:0px;
		border-right:0;
		
	}
	&:last-child{
		border-top-left-radius:0px;
		border-left:0;
	}
	*{
   		opacity: 0.6;
   	}
}
.tab__title{
	@extend .subhead;
	@extend .subhead--dark;
	margin-bottom:0;
	
}
.tab__subtitle{
	margin-bottom:0;
	line-height:.95em;
	font-size:1.2em;
}
.tabs .tab--active{
	background:white;
	margin-top:-1em;
	height:5em;
	position: relative;
	z-index: 2;
	border-bottom:0;
	padding-top:1.2em;
   	&:first-child{
   		border-bottom-right-radius:0;
   		border-right:solid 2px $grey;
   	}
	&:last-child{
   		border-bottom-right-radius:0;
   		border-top-left-radius:8px;
   		border-left:solid 2px $grey;
   	}
   	*{
   		opacity: 1;
   	}
}
.tab-anchor--mobile-disable{
	display: block;
}
.js-tab-anchor{
	display: none;
}
.js-tab-anchor.active{
	display: block;
}
.js-tab-anchor.inactive{
	display: none;
}
.tab-anchor--mobile-disable.inactive{
	display: none;
	@include breakpoint(small){
		display: block;
	}
}

/*=========================================
=            PAST CLAIMS CARDS            =
=========================================*/
.past-claims{
	padding:3rem;
	@extend .clearfix;
	@include breakpoint(small){
		padding: 1rem;
	}
}
.past-claims-card{
	display:block;
	float:left;
	width:42%;
	margin:4%;
	border:solid 2px $grey;
	border-radius:3px;
	@include breakpoint(small){
		width: 96%;
		margin:2% ; 
	}
}
.past-claims-card__header{
	@extend .clearfix;
	background:$primary-color;
	padding:.5em;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	&__left{@extend .col-xs-9;}
	&__right{@extend .col-xs-3;}
}

.past-claims-card__main{
	@extend .clearfix;
	padding:1em ;
	&__left{@extend .col-xs-5;padding:1.7rem;}
	&__right{@extend .col-xs-7;padding:3rem 0;}
}


.past-claims-card__name{
	@extend .subhead;
	@extend .subhead--dark;
	color:#636363;
	margin-bottom:0;

}
.past-claims-card__date{
	float:right;
	color:#636363;
}
.past-claims-card__status{
	color:#636363;
}
.past-claims-card__phone-name{
	font-size: 1.6em;
	line-height: 1.1;
	margin-bottom:.3em;
}
