/*=============================================
=            MISCELLANEOUS HELPERS            =
=============================================*/

.nobr	{ white-space:nowrap; }
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.br-mobile{
	display:block;
	@include breakpoint(min-small){
		display: none;
	}
}
.br-desktop{
    display:none;
    @include breakpoint(min-small){
        display: block;
    }
}

.mobile-spacer{
    margin-bottom: 2rem;
    @include breakpoint(min-small)
    {
        margin-bottom:initial;
    }
}


/*=================================
=            ALIGNMENT            =
=================================*/

.float-left  { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.float-left--mobile{
    @extend .float-left;
    @include breakpoint(min-small){
        float: none;
        margin: none; 
    }
}
.float-right--mobile{
    @extend .float-right;
    @include breakpoint(min-small){
        float: none;
        margin: none; 
    }
}

.float-left--desktop{
    @include breakpoint(min-small){
        float: left;
        margin-right: 1em; 
    }
}
.float-right--desktop{
    @include breakpoint(min-small){
        float: right;
        margin: 1em; 
    }
}

.col-left{
    float:left;
    @include breakpoint(small){
        float: none;
    }   
}
.col-right{
    float:right;
    @include breakpoint(small){
        float: none;
    }   
}
.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }


.border-reset{
    border:0!important;
    &--left{border-left:0!important;}
    &--right{border-right:0!important;}
    &--top{border-top:0!important;}
    &--bottom{border-bottom:0!important;}
    &--left-right{border-left:0!important;border-right:0!important;}
    &--top-bottom{border-top:0!important;border-bottom:0!important;}
}

.box-shadow-reset{
    -webkit-box-shadow: inset 0px 0px 0px 0px transparent !important;
    -moz-box-shadow: inset 0px 0px 0px 0px transparent !important;
    box-shadow: inset 0px 0px 0px 0px transparent !important;
}