/*=========================================
=            SPACING VARIABLES            =
=========================================*/

$standard-margin: 2rem;
$standard-padding: 2rem;


/*======================================
=            SPACING RESETS            =
======================================*/


.margin-reset{
	margin:0!important;
	&--left{margin-left:0!important;}
	&--right{margin-right:0!important;}
	&--top{margin-top:0!important;}
	&--bottom{margin-bottom:0!important;}
	&--left-right{margin-left:0!important;margin-right:0!important;}
	&--top-bottom{margin-top:0!important;margin-bottom:0!important;}
}
.padding-reset{
	padding:0!important;
	&--left{padding-left:0!important;}
	&--right{padding-right:0!important;}
	&--top{padding-top:0!important;}
	&--bottom{padding-bottom:0!important;}
	&--left-right{padding-left:0!important;padding-right:0!important;}
	&--top-bottom{padding-top:0!important;padding-bottom:0!important;}
}

/*====================================
=            SPACING 1/2            =
====================================*/ 
 

.margin-half{
	margin:$standard-margin/2;
	&--left{margin-left: $standard-margin/2!important;}
	&--right{margin-right: $standard-margin/2!important;}
	&--top{margin-top: $standard-margin/2!important;}
	&--bottom{margin-bottom: $standard-margin/2!important;}
	&--left-right{margin-left: $standard-margin/2; margin-right:$standard-margin/2!important;}
	&--top-bottom{margin-top:$standard-margin/2;margin-bottom:$standard-margin/2!important;}
}
.padding-half{
	padding:$standard-padding/2;
	&--left{padding-left:$standard-padding/2!important;}
	&--right{padding-right: $standard-padding/2!important;}
	&--top{padding-top: $standard-padding/2!important;}
	&--bottom{padding-bottom: $standard-padding/2!important;}
	&--left-right{padding-left:$standard-padding/2;padding-right:$standard-padding/2!important;}
	&--top-bottom{padding-top: $standard-padding/2;padding-bottom: $standard-padding/2!important;}
}


/*==================================
=            SPACING 1X            =
==================================*/


.margin-1x{
	margin:$standard-margin;
	&--left{margin-left:$standard-margin!important;}
	&--right{margin-right: $standard-margin!important;}
	&--top{margin-top: $standard-margin!important;}
	&--bottom{margin-bottom:$standard-margin!important;}
	&--left-right{margin-left:$standard-margin; margin-right:$standard-margin!important;}
	&--top-bottom{margin-top: $standard-margin;margin-bottom:$standard-margin!important;}
}
.padding-1x{
	padding:$standard-padding;
	&--left{padding-left:$standard-padding!important;}
	&--right{padding-right: $standard-padding!important;}
	&--top{padding-top: $standard-padding!important;}
	&--bottom{padding-bottom: $standard-padding!important;}
	&--left-right{padding-left: $standard-padding; padding-right:$standard-padding!important;}
	&--top-bottom{padding-top: $standard-padding; padding-bottom:$standard-padding!important;}
}


/*==================================
=            SPACING 2X            =
==================================*/


.margin-2x{
	margin:$standard-margin*2;
	&--left{margin-left:$standard-margin*2!important;}
	&--right{margin-right: $standard-margin*2!important;}
	&--top{margin-top: $standard-margin*2!important;}
	&--bottom{margin-bottom:$standard-margin*2!important;}
	&--left-right{margin-right:$standard-margin*2;margin-left:$standard-margin*2!important;}
	&--top-bottom{margin-top: $standard-margin*2;margin-bottom: $standard-margin*2!important;}

	@include breakpoint(min-small){
		margin:$standard-margin*2;
		&--left{margin-left:$standard-margin*2!important;}
		&--right{margin-right: $standard-margin*2!important;}
		&--top{margin-top: $standard-margin*2!important;}
		&--bottom{margin-bottom:$standard-margin*2!important;}
		&--left-right{margin-right:$standard-margin*2;margin-left:$standard-margin*2!important;}
		&--top-bottom{margin-top: $standard-margin*2;margin-bottom: $standard-margin*2!important;}
	}
}
.padding-2x{
	padding:$standard-padding*2;
	&--left{padding-left: $standard-padding*2!important;}
	&--right{padding-right:$standard-padding*2!important;}
	&--top{padding-top: $standard-padding*2!important;}
	&--bottom{padding-bottom: $standard-padding*2!important;}
	&--left-right{padding-left:$standard-padding*2;padding-right:$standard-padding*2!important;}
	&--top-bottom{padding-top: $standard-padding*2;padding-bottom: $standard-padding*2!important;}
	
	@include breakpoint(min-small){
		padding:$standard-padding*2;
		&--left{padding-left: $standard-padding*2!important;}
		&--right{padding-right:$standard-padding*2!important;}
		&--top{padding-top: $standard-padding*2!important;}
		&--bottom{padding-bottom: $standard-padding*2!important;}
		&--left-right{padding-left:$standard-padding*2;padding-right:$standard-padding*2!important;}
		&--top-bottom{padding-top: $standard-padding*2;padding-bottom: $standard-padding*2!important;}
	}
}

/*==================================
=            SPACING 3X            =
==================================*/


.margin-3x{
	margin:$standard-margin*3;
	&--left{margin-left:$standard-margin*3!important;}
	&--right{margin-right: $standard-margin*3!important;}
	&--top{margin-top: $standard-margin*3!important;}
	&--bottom{margin-bottom:$standard-margin*3!important;}
	&--left-right{margin-right:$standard-margin*3;margin-left:$standard-margin*3!important;}
	&--top-bottom{margin-top: $standard-margin*3;margin-bottom: $standard-margin*3!important;}

	@include breakpoint(min-small){
		margin:$standard-margin*3;
		&--left{margin-left:$standard-margin*3!important;}
		&--right{margin-right: $standard-margin*3!important;}
		&--top{margin-top: $standard-margin*3!important;}
		&--bottom{margin-bottom:$standard-margin*3!important;}
		&--left-right{margin-right:$standard-margin*3;margin-left:$standard-margin*3!important;}
		&--top-bottom{margin-top: $standard-margin*3;margin-bottom: $standard-margin*3!important;}
	}
}
.padding-3x{
	padding:$standard-padding*3;
	&--left{padding-left: $standard-padding*3!important;}
	&--right{padding-right:$standard-padding*3!important;}
	&--top{padding-top: $standard-padding*3!important;}
	&--bottom{padding-bottom: $standard-padding*3!important;}
	&--left-right{padding-left:$standard-padding*3;padding-right:$standard-padding*3}
	&--top-bottom{padding-top: $standard-padding*3;padding-bottom: $standard-padding*3!important;}
	
	@include breakpoint(min-small){
		padding:$standard-padding*3;
		&--left{padding-left: $standard-padding*3!important;}
		&--right{padding-right:$standard-padding*3!important;}
		&--top{padding-top: $standard-padding*3!important;}
		&--bottom{padding-bottom: $standard-padding*3!important;}
		&--left-right{padding-left:$standard-padding*3;padding-right:$standard-padding*3!important;}
		&--top-bottom{padding-top: $standard-padding*3;padding-bottom: $standard-padding*3!important;}
	}
}

/*==================================
=            SPACING 4X            =
==================================*/

.margin-4x{
	margin:$standard-margin*4;
	&--left{margin-left:$standard-margin*4!important;}
	&--right{margin-right: $standard-margin*4!important;}
	&--top{margin-top: $standard-margin*4!important;}
	&--bottom{margin-bottom:$standard-margin*4!important;}
	&--left-right{margin-right:$standard-margin*4;margin-left:$standard-margin*4!important;}
	&--top-bottom{margin-top: $standard-margin*4;margin-bottom: $standard-margin*4!important;}

	@include breakpoint(min-small){
		margin:$standard-margin*4;
		&--left{margin-left:$standard-margin*4!important;}
		&--right{margin-right: $standard-margin*4!important;}
		&--top{margin-top: $standard-margin*4!important;}
		&--bottom{margin-bottom:$standard-margin*4!important;}
		&--left-right{margin-right:$standard-margin*4;margin-left:$standard-margin*4!important;}
		&--top-bottom{margin-top: $standard-margin*4;margin-bottom: $standard-margin*4!important;}
	}
}
.padding-4x{
	padding:$standard-padding*4;
	&--left{padding-left: $standard-padding*4!important;}
	&--right{padding-right:$standard-padding*4!important;}
	&--top{padding-top: $standard-padding*4!important;}
	&--bottom{padding-bottom: $standard-padding*4!important;}
	&--left-right{padding-left:$standard-padding*4;padding-right:$standard-padding*4!important;}
	&--top-bottom{padding-top: $standard-padding*4;padding-bottom: $standard-padding*4!important;}
	
	@include breakpoint(min-small){
		padding:$standard-padding*4;
		&--left{padding-left: $standard-padding*4!important;}
		&--right{padding-right:$standard-padding*4!important;}
		&--top{padding-top: $standard-padding*4!important;}
		&--bottom{padding-bottom: $standard-padding*4!important;}
		&--left-right{padding-left:$standard-padding*4;padding-right:$standard-padding*4!important;}
		&--top-bottom{padding-top: $standard-padding*4;padding-bottom: $standard-padding*4!important;}
	}
}


/*========================================
=            NEGATIVE SPACING            =
========================================*/


